<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission settings</title>

    <%- include("../component/metadata.html") %> 


  
</head>
<body onload="pageLoadingTop()">

  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 

  <div id="main-content" class="main-content row p-2 mt-5">

  <div class="col-11  m-auto mt-5">
    <input  class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="date" name=""  id="findDate"> <p></p>
  
    <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">

</div>

 <div class="row p-2 mt-1">
  <div id="" class="col-md-8 m-auto col-11">

  <% for(let index= 0; index<info.length; index++) {%>
  
        
        <a class="text-decoration-none" href="/admin/admission/student/page/<%=info[index].uuid%>">
        <div class="student-card findcard pt-3 pb-3 shadow-sm">
          <div class="d-flex  justify-content-center align-content-center align-items-center">
            <img class="rounded-circle border border-1 p-1" height="60px" width="60px" src="/docs/admission/resized/<%=info[index].avatar%>" alt="">
            <p class="fw-semibold text-muted ps-2  text-truncate"><%=info[index].name%></p>
        
            </div>
        
            <div class="d-flex  justify-content-center align-content-center align-items-center">
              <code class="fw-semibold ps-1"><%=info[index].find_date%></code>
            </div>
        
          </div>
        </a>
 
     <% } %>  
    </div>

    </div>
 
         <!-- end div -->
  


  </div>




  <%- include("../component/___node.html") %> 

</body>


<script>
 
 $(document).ready(function(){
  $("#findDate").change(function(e) {
    const value= $("#findDate").val();
    const findDate= new Date(value).toDateString();

  });
});



 $(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $(".card").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});


 $(document).on("click", ".accept", (e)=>{

let ID= e.currentTarget.attributes[0].value;
let email= e.currentTarget.attributes[1].value;
console.log(ID, email);
$('.modal-trigger-trigger').click()
$('.modal-trigger-body').text('are you want to accept?').addClass('alert alert-success fw-bolder')

$(".modal-trigger-ok").on("click", ()=>{
$.ajax({
 type: "post",
 url: "/admin/admission/accept",
 data: {email, ID},
 dataType: "JSON",
 beforeSend: function(){

 },
 success: function (info) {
   
  $('.toast-msg').text('Admission accepted!').addClass('alert alert-success')
  $('.toast').addClass('show')   

 }

});  
})


})




$(document).on("click", ".reject", (e)=>{

let ID= e.currentTarget.attributes[0].value;
let email= e.currentTarget.attributes[1].value;

$('.modal-trigger-trigger').click()
$('.modal-trigger-body').text('are you want to reject?').addClass('alert alert-danger fw-bolder')

 $(".modal-trigger-ok").on("click", ()=>{
  $.ajax({
 type: "post",
 url: "/admin/admission/reject",
 data: {ID, email},
 dataType: "JSON",
 beforeSend: function(){

 },
 success: function (info) {
  $('.toast-msg').text('Admission rejected!').addClass('alert alert-danger')
  $('.toast').addClass('show')   

 }

}); 
 })
 })

 


</script>

</html>