

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission settings</title>

    <%- include("../component/metadata.html") %> 


  
</head>
<body onload="pageLoadingTop()">

  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 

  <div id="main-content" class="row p-2 mt-5">

      <%-include("../component/modal-trigger.html") %> 
      <%-include("../component/modal-person.html") %> 

      <%-include("../component/toast-ajax.html") %> 



  <div class="col-10  m-auto mt-5">
    <input  class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="date" name=""  id="findDate"> <p></p>
    <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">

</div>


  <% for(let i= 0; i<info.length; i++) {%>

   
     
     <div  class="col-12 col-md-3 mt-2 text-center">
       
           <div class="card ">
               <img class="card-img-to m-auto" width="100px" src="/image/student/<%=info[i].avatar==undefined?'male_avatar.png':info[i].avatar%>" alt="404">
               <div class="card-body">
                   <h5 class="card-title"><%=info[i].name%> </h5>
                   <h6 class="card-text">Last Education: <%=info[i].last_education%></h6> 
                   <h6 class="card-text">Passing Year: <%=info[i].passing_year%></h6>
                   <code class="card-text">Admission Date: <%=info[i].at_date.toLocaleString('en-ZA').substring(0,10)%></code>
                   <br>
                   <button data-id="<%=info[i].ID%>"  class="modal-person-trigger btn fs-3" title="Information" ><i class=" bi bi-info-circle-fill"></i></button>
                   <button data-id="<%=info[i].ID%>" data-id2="<%=info[i].email%>" class="accept btn fs-3" title="Accept" ><i class=" bi bi-check-circle-fill"></i></button>
                   <button data-id="<%=info[i].ID%>" data-id2="<%=info[i].email%>" class="reject btn fs-3" title="Reject" ><i class="bi bi-x-circle-fill"></i></button>
 
               </div>
        
           </div>
       </div>
 
     <% } %>  
 
         <!-- end div -->
  


  </div>





</body>


<script>


 $("#form").hide()


 
 $(document).ready(function(){
  $("#findDate").change(function(e) {
    let findDate= $("#findDate").val().replaceAll("-", "/");
    var value = findDate
    $(".card").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});



 $(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $(".card").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});




 $(document).on("click", ".modal-person-trigger", (e)=>{
  let dataID= e.currentTarget.attributes[0].value;
  $.ajax({
  type: "post",
  url: "/admin/admission/report/info",
  data: {dataID},
  dataType: "JSON",
  beforeSend: function(){
    $(".modal-person-body").html(`<div class="card" aria-hidden="true">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a class="btn btn-primary disabled placeholder col-6"></a>
  </div> 
</div>`)
  
     $(".modal-person-btn").click()
  },

  success: function (info) {
    
      $(".modal-person-body").html(info.html)
     $(".modal-person-avatar").attr("src", `/image/admission/${info.avatar}`)
  
     $(".modal-person-btn").click()
  }
});
})







$(".btn-close").on("click", ()=>{
    $("#form").fadeOut()
    $("body").addClass("bg-light")
 })



 $(document).on("click", ".accept", (e)=>{

let ID= e.currentTarget.attributes[0].value;
let email= e.currentTarget.attributes[1].value;
console.log(ID, email);
$('.modal-trigger-trigger').click()
$('.modal-trigger-body').text('are you want to accept?').addClass('alert alert-success fw-bolder')

$(".modal-trigger-ok").on("click", ()=>{
$.ajax({
 type: "post",
 url: "/admin/admission/accept",
 data: {email, ID},
 dataType: "JSON",
 beforeSend: function(){

 },
 success: function (info) {
   
  $('.toast-msg').text('Admission accepted!').addClass('alert alert-success')
  $('.toast').addClass('show')   

 }

});  
})


})




$(document).on("click", ".reject", (e)=>{

let ID= e.currentTarget.attributes[0].value;
let email= e.currentTarget.attributes[1].value;

$('.modal-trigger-trigger').click()
$('.modal-trigger-body').text('are you want to reject?').addClass('alert alert-danger fw-bolder')

 $(".modal-trigger-ok").on("click", ()=>{
  $.ajax({
 type: "post",
 url: "/admin/admission/reject",
 data: {ID, email},
 dataType: "JSON",
 beforeSend: function(){

 },
 success: function (info) {
  $('.toast-msg').text('Admission rejected!').addClass('alert alert-danger')
  $('.toast').addClass('show')   

 }

}); 
 })
 })

 


</script>

</html>