
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Carousel settings</title>
    <%- include("../component/metadata.html") %> 
  

</head>

<body onload="pageLoadingTop()">

    <%- include("../component/admin-header-nav.html") %> 
    <%- include("../component/admin-menu-nav.html") %> 
  

    <div id="main-content" class="p-2 mt-5">


    <%-include("../component/modal-danger.html") %> 
    <%-include("../component/modal-success.html") %> 

    <%-include("../component/toast-ajax.html") %> 


<!-- Button trigger modal -->
<center>
    <button type="button" class="btn " data-toggle="modal" data-target="#modelImage">ADD Image</button>

</center>


<hr>


 <!-- Modal -->
 <div class="modal fade" id="modelImage" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                
                <p class="card-text">Image Size upto 5mb.</p>

                <form id="contentImageForm"  method="post">


  
                    <input type="file" class=" form-self" name="itemName[]" multiple id=""> <p></p>

                    

                    <center>
                        <input id="submit" class=" w-50 btn btn-primary" type="submit" value="ADD">
                    </center>




                    

                </form>

            </div>
        
        </div>
    </div>
 </div>


 <div class="row" id="listDataPrint">
        

     


 </div>






</div>
</div>


<script>



$(document).on("click", ".removeItemE", (e)=>{
    let thisItem= e.currentTarget.previousSibling.parentElement
    
    $(thisItem).remove()
 
    
})




    
function loadContentData(){
        
        $.ajax({
            method: "post",
            url: "/admin/carousel/get",
            data: {},
            dataType: "JSON",
            success: function (info) {
    
                $("#listDataPrint").html(info.listData)
               

                
            }
        });

        
    
    }

    loadContentData()





$("#contentImageForm").on('submit', (event)=>{
      event.preventDefault()
      let formdata = new FormData($("form")[0])

        $.ajax({
            method: "post",
            url: "/admin/carousel/post",
            data: formdata,
             mimeType: "multipart/form-data",
              cache: false,
              processData: false,
              contentType: false,
               dataType: "JSON",

            beforeSend: function(){
      $("#submit").addClass("btn disabled")
            },
            success: function (info) {
    
                $("#msg").text(info.msg)
                $("#msg").addClass(info.alert)
                toast_alive()
                $("#submit").removeClass("disabled")
                loadContentData()

    
            }
        });
    
    })

  
    
    
    
    
    
$(document).on("click", '.del_def', (e)=>{

        let ID= e.currentTarget.attributes[0].value;
    
    $("#modal").click();
    
    $("#confirmed").on("click", ()=>{
        $.ajax({
        type: "post",
        url: "/admin/carousel/delete",
        data: {ID},
        dataType: "JSON",
        success: function (info) {
            
            $("#msg").text(info.msg)
            $("#msg").addClass(info.alert)
            toast_alive();
            loadContentData();
      
    
        }
    });
    })
    
    })
    

    </script>

<%- include("../component/antoast.html") %> 

</body>
</html>
