<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Gallery Videos</title>
    <%- include("../component/metadata.html") %> 
</head>


<body onload="pageLoadingTop()">

    <%- include("../component/admin-header-nav.html") %> 
    <%- include("../component/admin-menu-nav.html") %> 
  

<div id="main-content" class="main-content p-2 mt-5">

    <!-- listdata for fetch data -->
    <div  class="row p-2 mt-5">
        <div class="col-11 shadowx m-auto">
          <p class="p-2  fw-semibold fs-5 text-primary">Gallery of <span id="title"></span></p>
        </div>
   

        <div class="col-md-10 shadowx col-12 p-1 m-auto">
                  
        <div class="d-flex justify-content-end me-2">
            <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
              class="btn link-success fw-semibold shadowx btn-go fw-500">Upload a new video</button>
          </div>
          
            <form id="formcheckout" action="#" method="get" onsubmit="return false">
       
                <ul class="d-flex flex-column list-unstyled  p-2">
                    
                  <li class="d-flex p-2 shadowx justify-content-start gap-2 align-items-center">
                      <input class="shadowx check-mark form-check-input" type="checkbox" name="checkout" id="">
                      <button type="submit" class="bi shadowx p-1 ps-2 pe-2 checkoutpop bi-trash-fill btn btn-outline-warning">Delete forever</button>
                  </li>
                </ul>

                <div id="listdata" class="d-flex m-1 check-mark-area  gap-1 justify-content-start mt-5 mb-5 flex-wrap">
              
                </div>
      
      
            </form>
  
        </div>
      </div>
      
      <!-- openform for create data -->
      <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">
      
          <div style="transform: scale(1);" class="col-md-10 me-auto modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 ">
      
            <form  id="formdata" action="#" method="post">
         <input type="reset" class="resetform" style="display: none;">
         <input type="hidden" name="item_title" value="<%=item_title%>">
         <input type="hidden" name="dataid" value="<%=dataid%>">
                  <div class="col-11">
                    <p class="p-2 text-muted text-center fw-semibold fs-5">Youtube video embed link</p>
                  </div>
    
                   
                  <div class="d-flex  p-2 justify-content-between align-items-center">

                    <div class="append-link w-100 d-flex flex-column">
                    <code class="p-1">*</code> 

                        <div class="d-flex p-1 mt-2">
                            <input style="width: 90%;" required type="text" name="item_link[]" placeholder="https://www.youtube.com/watch?v=5eeo25TC1IY" class=" shadowx form-dev form-control-sm" >
                            <span title="add more" style="width: 10%;" class="btn text-primary  fw-bold bi bi-plus addonbtn"></span> <br>
    
                        </div>
 
                      </div>



                  </div>
                  
                  <div class="d-flex justify-content-between p-2 mt-2 mb-2">
                    <button type="button" data-bs-dismiss="modal" class="btn text-primary fw-semibold nav-fill btn-hover shadowx">Close</button>
                    <button type="submit" class="btn text-primary fw-semibold submitbtn nav-fill btn-hover shadowx">Create and update</button>
                  </div>
      
            </form>
      
          </div>
      
        
      </div>
  
</div>



</body>



<%-include("../component/___node.html") %> 
<script src="/app/___noviewport.js"></script>

<script>

$(document).on("click", ".addonbtn", (e)=>{
   var elem= `   
   <div class="d-flex p-1 mt-2">
   <input style="width: 90%;" type="text" name="item_link[]" placeholder="https://www.youtube.com/watch?v=5eeo25TC1IY" class=" shadowx form-dev form-control-sm" >
    <span title="remove" style="width: 10%;" class="btn text-primary  fw-bold bi bi-x rmbtn"></span> <br>
     </div>`

     $('.append-link').append(elem);

})


$(document).on("click", ".rmbtn", (e)=>{
    let thisItem= e.currentTarget.previousSibling.parentElement
    $(thisItem).remove()   
})

function listdata(){
    const dataid= '<%=dataid%>'
        $.ajax({
            method: "post",
            url: "/admin/gallery/video/data/get",
            data: {dataid},
            dataType: "JSON",
            beforeSend: function(){
                _spin_pull()

            },
            success: function (info) {
            _spin_pop()
                $("#listdata").html(info.listData)
                $("#title").html(info.title)
            
            }
        });

        
    
    }

 listdata()


$("#formdata").on('submit', (event)=>{
      event.preventDefault()
        $.ajax({
        method: "post",
            url: "/admin/gallery/video/data/post",
            data: $("#formdata").serialize(),
            dataType: "JSON",
        beforeSend: function(){
      $(".submitbtn").addClass("disabled")
      _spin_pull()
            },
            success: function (res) {
                _spin_pop()
                _reset_form()
                _msg_pull(res.alert, res.msg)
                $(".submitbtn").removeClass("disabled")
                listdata()
                
    
            }
        });
    
    })

  
    
$('#formcheckout').on('submit', (event)=>{
  event.preventDefault()
  $.ajax({
  method: "post",
  url: "/admin/gallery/image/data/delete",
  data: $('#formcheckout').serialize(),
  dataType: "JSON",
  success: function (response) {
    _msg_pull(response.alert, response.msg)
    listdata()
  }
});
})



</script>


</html>
