<%- include("../component/header") %> 


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>

    <%- include("../component/app") %> 



</head>

<body class=" container">


    <div class="row">
        <%-include("./admin_panel") %> 


        <div class="col">


            
    <%- include("../component/toast_alive") %>
    <%- include("../component/modal_danger") %>

    <%- include("../component/profile_info") %> 


    
        <p></p>



<div class="row">
    <div class=" w-50 mt-2 m-auto">
        <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="Example: 140044" id="search">
    
    </div>


    <div class="row">
        
    <div class="col-6 m-auto">

        <select name="classBase" id="classBase" class="w-100 form-self">

     
            <optgroup label="Class Ten">
               <option value="Ten-A">Ten - A</option>
               
               <option value="Ten-B">Ten - B</option>
               <option value="Ten-C">Ten - C</option>
              </optgroup>
             
              <optgroup label="Class Nine">
               <option value="Nine-A">Nine - A</option>
               <option value="Nine-B">Nine - B</option>
               <option value="Nine-C">Nine - C</option>
              </optgroup>
             
             
              
              <optgroup label="Class Eight">
               <option value="Eight-A">Eight - A</option>
               <option value="Eight-B">Eight - B</option>
               <option value="Eight-C">Eight - C</option>
              </optgroup>
             
             
             
              
              <optgroup label="Class Seven">
               <option value="Seven-A">Seven - A</option>
               <option value="Seven-B">Seven - B</option>
               <option value="Seven-C">Seven - C</option>
              </optgroup>
              
             
             
             
              
              <optgroup label="Class Six">
               <option value="Six-A">Six - A</option>
               <option value="Six-B">Six - B</option>
               <option value="Six-C">Six - C</option>
              </optgroup>
              
           
           </select>

    </div>
    </div>
  

</div>


<table class="table  table-hover container" id="table" >
    <thead class="" id="thead">
        <tr>
            
  
            <th class=" text-light">Student Id</th>
            <th class=" text-light">Name</th>
            <th class=" text-light">Avatar</th>
            <th title="Delete" class=" bg-light btn-close"></th>
            <th></th>
        
    
        </tr>
    </thead>
    <tbody>

    </tbody>


</table>



    
    
    

</body>

<script>



$(document).on("click", ".defInfo", (e)=>{
  let ID= e.currentTarget.attributes[0].value;
  $.ajax({
  type: "post",
  url: "/admin/parent/profile",
  data: {ID},
  dataType: "JSON",
  beforeSend: function(){


  },
  success: function (info) {
    
    setTimeout(() => {
      $("#profileInfo").html(info.html)
     $("#avatarpng").attr("src", `/image/student/${info.avatar}`)
  
    }, 1000);
     $("#profileTrigger").click()
  }
});
})


$(document).on("click", ".defDelete", (e)=>{

    let ID= e.currentTarget.attributes[0].value;
    $("#modal").click()

    $("#confirmed").click(()=>{

$.ajax({
    method: "post",
    url: "/admin/parent/delete",
    data: {ID},
    dataType: "JSON",
    success: function (info) {

        // $("#classBase").click()
 $("#msg").addClass(info.alert).text(info.msg)

loadDisplay()
    

toast_alive()
        
    }
});


})
 
})




$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});






$("#classBase").on("click", ()=>{
    let value= $("#classBase").val().split("-");
    let className= value[0];
    let sectionName= value[1];

    $.ajax({
        type: "post",
        url: "/admin/parent/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {
            
            $("tbody").html(info.listData)

        }
    });
})


function loadDisplay(){
    let value= $("#classBase").val().split("-");
    let className= value[0];
    let sectionName= value[1];

    $.ajax({
        type: "post",
        url: "/admin/parent/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {
            
            $("tbody").html(info.listData)

        }
    });
}

loadDisplay()





</script>

</html>