
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result settings</title>
    <%- include("../component/metadata.html") %> 
  




</head>

<body onload="pageLoadingTop()">

    <%- include("../component/admin-header-nav.html") %> 
    <%- include("../component/admin-menu-nav.html") %> 
  


    <div id="main-content" class="p-2 mt-5">

        <div class="col-auto">
            
            <%-include("../component/modal-danger.html") %> 
            <%-include("../component/modal-success.html") %> 
      
            <%-include("../component/toast-ajax.html") %> 
        
        
            
                <!-- Modal -->
                <div class="modal fade" id="modelId_importForm" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Import Excel Sheet</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            
                            <div class="modal-body">
                       
                                <form id="formImport"  method="post">
                                    <div class="row">
                
                                  
                                     <p></p>
            
                                     <div class="col-9 col-md-6 m-auto">
                                        <select class="form-dev" name="className" id="">
                        
                                            <option  disabled  value="">Select Class</option>
                                            <option value="Six">Six</option>
                                            <option value="Seven">Seven</option>
                                            <option value="Eight">Eight</option>
                                            <option value="Nine">Nine</option>
                                            <option  value="Ten">Ten</option>
                                        </select>
                                     </div>
            
                           <p></p>
            
                                     <div class="col-9 col-md-6 m-auto">
                            
                                    <select class=" form-dev" name="sectionName" id="" required>
                                        <option  disabled  value="">Select Section</option>
                                
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        
                                    </select>
                                  
                          </div>
                
                <p></p>
            
                          <div class="col-6 col-md-6 m-auto ">
                            <label class=" btn badge bg-light text-danger" for="xlsFile"> Import Excel Sheet
                           
                            <input style="display: none;" type="file" class="" name="xlsxImport" id="xlsFile" required>
                           <span class=" fa-solid fa-file-excel-o"></span>
                        </label>
                  </div>
                <p></p>
        
        
        
        
                  <div class="col-4 m-auto">
                
                    <button type="submit" id="onsubmitImport"  class="w-100  btn-self btn-lg  badge ">Import</button>
                
                  </div>
                
                
                
                
                                    </div>
        
                                </form>
            
                            </div>
                       
                        </div>
                    </div>
                </div>
            
        
               <!-- Modal -->
               <div class="modal fade" id="modelId_exportForm" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Export Excel Sheet</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        
                        <div class="modal-body">
                   
                            <form id="formExport" action="/admin/result/export"  method="post">
                                <div class="row">
        
                                 
                                 <p></p>
        
                                 <div class="col-9 col-md-6 m-auto">
                                    <select class="form-dev" name="className" id="">
                    
                                        <option  disabled  value="">Select Class</option>
                                        <option value="Six">Six</option>
                                        <option value="Seven">Seven</option>
                                        <option value="Eight">Eight</option>
                                        <option value="Nine">Nine</option>
                                        <option  value="Ten">Ten</option>
                                    </select>
                                 </div>
        
                       <p></p>
        
                                 <div class="col-9 col-md-6 m-auto">
                        
                                <select class=" form-dev" name="sectionName" id="" required>
                                    <option  disabled  value="">Select Section</option>
                            
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    
                                </select>
                              
                      </div>
            
            <p></p>
        
        
              <div class="col-4 m-auto">
            
                <button type="submit" id="onsubmitExport"  class="w-100  btn-self btn-lg  badge ">Export</button>
            
              </div>
            
            
            
            
                                </div>
        
                            </form>
        
                        </div>
                   
                    </div>
                </div>
            </div>
        
        
        
            
                <p></p>
        
        
        
                <center> 
                    <button id="expand" class="w-50 btn-self  badge"><i id="addnew"  class="fa-solid fa-circle-plus fa-beat"></i> <i id="addicon"></i> </button> 
                    <button class="btn-success badge " id="makeResultRank">Make Ranks <span id="makeResultLoader" class=""></span> </button>
                </center>
        
        
                <div class="row mb-3">
                    <div class="col-6 m-auto">
                        <button id="" type="button"  data-toggle="modal" data-target="#modelId_exportForm" class=" btn btn-default badge bg-light text-danger">Export Excel Sheet <span class=" fa-solid fa-file-download"></span></button>
                    </div>
                </div>
              
               
        
         
        
        <form id="formResult"  method="post" >
              
                        <div class="row mb-3">
                            <div class="col-6 m-auto">
                                <button id="" type="button"  data-toggle="modal" data-target="#modelId_importForm" class=" btn btn-default badge bg-light text-danger">Import Excel Sheet <span class=" fa-solid fa-file-import"></span></button>
                            </div>
                        </div>
            
                        <div class="row " id="resultForm">
    
               
                 <p></p>
            
                        <div class=" col-11 col-md-6 m-auto d-flex"> 
                            
                     
                       <select class="form-dev" name="className" id="className">
                    
                                <option  disabled  value="">Select Class</option>
                                <option value="Six">Six</option>
                                <option value="Seven">Seven</option>
                                <option value="Eight">Eight</option>
                                <option value="Nine">Nine</option>
                                <option selected value="Ten">Ten</option>
                            </select>
               
              
                        <select class=" form-dev" name="section" id="sectionName" required>
                            <option  disabled  value="">Select Section</option>
                    
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            
                        </select>
            
                    <input list="student_id" placeholder="Enter student_id" class=" form-dev" name="student_id" id="student_idList" required>
                    
                    <datalist id="student_id">
                  
                    </datalist>
        
            
            
                    </div>
               
                    <p></p>
            
                 
            
                <div class=" col-11 col-md-6 m-auto d-flex"> 
                        
               
                    <input class=" form-dev" list="subject"  value="" name="subject[]" id="subjectList" placeholder="Subject Name" required>
        
                    <datalist id="subject">
                   
                      </datalist>
            
              
            
                
                    <input class=" form-dev"  type="number"  value="" name="mark[]" id="" placeholder="Mark" max="100"  required>
                    <span class=" btn addItem">ADD</span>
                    </div>
            
                    
            </div>
            
        
            
                   <div class="row" id="resultFormAppend">
                  
                 
                   </div>
            
            
            
                   <p></p>
                    
                    <div class=" col-6 col-md-2 m-auto">
                    <button id="onsubmit" class="btn-self w-100 badge ">Publish<span id="loading"></span></button>
                    </div>
                    
            
            
            
            
            
                    </form>
               
        
        
        <hr>
        
        <div class="row">
            <div class=" w-50 mt-2 m-auto">
                <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="Example: 140044" id="search">
            
            </div>
        
          
            
            <center>
                <div class="btn-group bg-secondary ">
                    <button data-id="Six" class="classDef btn btn-default "><span class=" badge bg-light text-danger">Six</span></button>
                    <button data-id="Seven" class="classDef btn btn-default "><span class=" badge bg-light text-danger">Seven</span></button>
                    <button data-id="Eight" class="classDef btn btn-default "><span class=" badge bg-light text-danger">Eight</span></button>
                    <button data-id="Nine" class="classDef btn btn-default "><span class=" badge bg-light text-danger">Nine</span></button>
                    <button data-id="Ten" class="classDef btn btn-default "><span class=" badge bg-light text-danger">Ten</span></button>
               
                  </div>
            </center>
            <center>
                <div class="btn-group bg-secondary ">
                    <button data-id="- A" class="sectionDef btn btn-default "><span class=" badge bg-light text-danger">A</span></button>
                    <button data-id="- B"  class="sectionDef btn btn-default "><span class=" badge bg-light text-danger">B</span></button>
                    <button data-id="- C" class="sectionDef btn btn-default "><span class=" badge bg-light text-danger">C</span></button>
               
                  </div>
            </center>
        
        </div>
        
         <center>
            <a href="/admin/result/rank/page" class="btn badge bg-success text-light">Result Rank List</a>
        
         </center>
        <table class="table  table-striped" id="table">
            <thead class="" id="thead">
                <tr>
          
                    <th class=" text-light">student_id</th>
                    <th class=" text-light">Subject</th>
                    <th class=" text-light">Mark</th>
                    <th class=" text-light">Point</th>
                    <th class=" text-light">Grade</th>
                    <th class=" text-light"> <i class=" fa-solid fa-trash"></i> </th>
               
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
        <center>
            <div id="tbody-loading" class=" alert alert-primary"></div>
        </center>
            
            
            
            


        </div>

    </div>

    <%- include("../component/antoast.html") %> 


</body>

<script>






 $("#student_idList").on("focus", ()=>{

 let className= $("#className").val();
 let sectionName= $("#sectionName").val();

    $.ajax({
        method: "post",
        url: "/admin/dynamic/student/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {

            $("#student_id").html(info.student_idList)
            
        }
    });

 })




 $("#subjectList").on("focus", ()=>{
let className= $("#className").val();
   $.ajax({ 
       method: "post",
       url: "/admin/dynamic/subject/get",
       data: {className},
       dataType: "JSON",
       success: function (info) {
        $("#subject").html(info.subjectList)

       }
   });

})





$("#makeResultRank").on("click", ()=>{
  

    $.ajax({
        method: "post",
        url: "/admin/result/rank/post",
        data: {},
        dataType: "JSON",
        beforeSend: function(){
            $("#makeResultLoader").addClass("spinner-border")
        },
        success: function (info) {
            $("#makeResultLoader").removeClass("spinner-border");
            $("#msg").addClass(info.alert).text(info.msg)
            toast_alive()
        }
    });
})




$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});



$(document).ready(function(){
  $(".sectionDef").click(function(e) {
    let btn=  e.currentTarget;
    $(".sectionDef").removeClass("btn-light")
var value= e.currentTarget.attributes[0].value;
$(btn).addClass("btn-light")
    
    $("tbody tr").filter(function() {
       
      $(this).toggle($(this).text().indexOf(value) > -1)
     
    });
  });
});





$(document).on("click", ".classDef", (e)=>{
    let btn= e.currentTarget;
$(".classDef").removeClass("btn-light")
$(".sectionDef").removeClass("btn-light")

let className= e.currentTarget.attributes[0].value;
$(btn).addClass("btn-light")
function loadDataClassBase()
{
   $.ajax({
       method: "post",
       url: "/admin/result/get/class/base",
       data: {className},
       dataType: "JSON",
       success: function (info) {

           $("tbody").html(info.html)
           
       }
   });
}

loadDataClassBase()

})
    
    
    




$("#formResult").hide()

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});




 $("#expand").click(()=>{
    $("#formResult").toggle()
   
    $("#addicon").toggleClass('fa-solid fa-caret-up')
    $("#addnew").toggle('fa-solid fa-caret-up')

})



 

$("#formResult").on('submit', function(e){

     e.preventDefault();

    $.ajax({

    type: "post",
    url: "/admin/result/post",
    data: $("#formResult").serialize(),
    dataType: "JSON",
    beforeSend: function(){
        $("#loading").addClass("spinner-border spinner-border-sm text-light")

        $("#onsubmit").addClass("disabled")

    },
    success: function (info) {

 
     $("#onsubmit").removeClass("disabled")

     $("#msg").addClass(info.alert).text(info.msg)

load()


    }
        

  })
})





$("#formImport").on('submit', function(e){

e.preventDefault();
let formdata = new FormData($("#formImport")[0])

$.ajax({

type: "post",
url: "/admin/result/import",
cache: false,
mimeType: "multipart/form-data",
processData: false,
contentType: false,
data: formdata,
dataType: "JSON",
beforeSend: function(){

   $("#onsubmitImport").addClass("disabled")

},
success: function (info) {


$("#onsubmitImport").removeClass("disabled")

$("#msg").addClass(info.alert).text(info.msg)

load()
   

toast_alive()

}
   

})
})








function load(){


$.ajax({
type: "post",
url: "/admin/result/get",
data: {},
dataType: "JSON",
beforeSend: function(){

    $("#tbody-loading").addClass("spinner-border")

},
success: function (info) {

    var gpaResultStatus = info.gpaResultStatus

    $("#tbody-loading").removeClass("spinner-border")


  $("tbody").html(info.html)


 

}
});



}

load()




$(document).on("click", ".def", (e)=>{
let dataID= e.currentTarget.attributes[0].value


 
  $("#confirmed").click(()=>{
    $.ajax({
        type: "post",
        url: "/admin/result/delete",
        data: {dataID},
        dataType: "JSON",
        success: function (info) {
            
            $("#msg").addClass(info.alert).text(info.msg)
            load()
            toast_alive()

        }
    });

  })
   
})





    
$(document).on("click", ".addItem", (e) => {
    
    $("#resultFormAppend").append(` 
     
    <div class=" col-11  m-auto d-flex" id=""> 
    
        <input class=" form-dev" list="subject"  value="" name="subject[]" id="subjectList" placeholder="Subject Name" required>

<datalist id="subject">

  </datalist>




<input class=" form-dev"  type="number"  value="" name="mark[]" id="" placeholder="Mark" max="100"  required>

            <span class=" btn addItem"><i class="fa fa-plus"></i></span>
            <span class=" btn removeItemE"><i class="fa fa-xmark"></i></span>
    
        </div>
    
       
    `)
    
    })
    
    
    
$(document).on("click", ".removeItemE", (e)=>{
        let thisItem= e.currentTarget.previousSibling.parentElement
        
        $(thisItem).remove()
     
        
    })


</script>

</html>