
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student settings</title>
    <%- include("../component/metadata.html") %> 

  </head>

<body onload="pageLoadingTop()">

 <%- include("../component/admin-header-nav.html") %> 
 <%- include("../component/admin-menu-nav.html") %> 


 <main id="main-content" class="p-2 main-content mt-5">
   
   
  <% if( typeof msg!=typeof alifn && msg.length>0) {%>
   
    <%-include("../component/toast-ejs") %> 
  
       <% } else { %>
         <%=null %> 
         <% } %> 
<quick>
  
  <div class="row mt-5"  id="">
    <center><h5>Quick Setup</h5></center>
    <form action="/admin/student/join/quick" method="post">
  
    <div class="col-10 m-auto mt-2 mb-2">
         <select required name="classNameX" id="" class=" form-dev p-1">
          
          <option value="" selected disabled>শ্রেণী নির্বাচন করুন</option>
  
          <optgroup class="status_Six" label="ষষ্ঠ শ্রেণী">
            <option class="status_Six_A" value="Six $%& A">ষষ্ঠ - ক</option>
            <option class="status_Six_B" value="Six $%& B">ষষ্ঠ - খ</option>
            <option class="status_Six_C" value="Six $%& C">ষষ্ঠ - গ</option>
           </optgroup>
  
  
                        
           <optgroup class="status_Seven" label="সপ্তম শ্রেণী">
            <option class="status_Seven_A" value="Seven $%& A">সপ্তম - ক</option>
            <option class="status_Seven_B" value="Seven $%& B">সপ্তম - খ</option>
            <option class="status_Seven_C" value="Seven $%& C">সপ্তম - গ</option>
           </optgroup>
           
  
  
           <optgroup class="status_Eight" label="অষ্টম শ্রেণী">
            <option class="status_Eight_A" value="Eight $%& A">অষ্টম - ক</option>
            <option class="status_Eight_B" value="Eight $%& B">অষ্টম - খ</option>
            <option class="status_Eight_C" value="Eight $%& C">অষ্টম - গ</option>
           </optgroup>
  
            
  
                    
             <optgroup class="status_Nine" label="নবম শ্রেণী">
              <option class="status_Nine_A" value="Nine $%& A">নবম - ক</option>
              <option class="status_Nine_B" value="Nine $%& B">নবম - খ</option>
              <option class="status_Nine_c" value="Nine $%& C">নবম - গ</option>
             </optgroup>
       
              <optgroup class="status_Ten" label="দশম শ্রেণী">
                 <option class="status_Ten_A" value="Ten $%& A">দশম - ক</option>
                 
                 <option class="status_Ten_B" value="Ten $%& B">দশম - খ</option>
                 <option class="status_Ten_C" value="Ten $%& C">দশম - গ</option>
                </optgroup>
        
  
            
         
         </select>
    </div>
  
  <div class="col-12 col-md-11 m-auto" > 
  <table class="studentAppend table table-borderless">
  
    <thead class="border border-dark p-2 m-2">
       
   <tr>
    <th>
      <input autocomplete="on" patternoff="^[A-Za-z .-_]*$" type="text" placeholder="Name" name="name[]" value="" class="form-dev p-1" required>
    </th>
    <th>
      <input patternoff="^[0-9]*$" type="number" placeholder="Roll" name="roll[]" value="" class="form-dev p-1 " required> 
    </th>
  
    
    <th>
      <select name="gender[]" class="form-dev p-1" id="" required>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>
      </th>
  
    
      <th>
        <button type="button" class="btn btn-light addItemQuick" title="ADD" ><i class="bi bi-plus-circle-fill text-primary"></i></button>
        <button type="button" disabled class="btn btn-light removeItemQuick" title="Remove" ><i class="bi bi-x-circle-fill text-danger"></i></button>
    
      </th>
  
  
   </tr>
  
    </thead>
    
  </table>
  
  </div>
  
  <div class="col-6 col-md-3 m-auto ">
    <input class="btn btn-primary w-100 submitbtn"  type="submit" value="Join">
  
  </div>
  </form>
  
  </div>
  
 
  <script>
 
  $(document).on("click", ".addItemQuick", (e) => {
   
   $(".studentAppend").append(` 
   
   <thead class="border border-dark p-2 m-2">
       
       <tr>
        <th>
          <input autocomplete="on" patternoff="^[A-Za-z .-_]*$" type="text" placeholder="Name" name="name[]" value="" class="form-control " required>
        </th>
        <th>
          <input patternoff="^[0-9]*$" type="number" placeholder="Roll" name="roll[]" value="" class="form-control " required> 
        </th>
      
        
        <th>
          <select name="gender[]" class="form-select" id="" required>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
          </th>
      
        
          <th>
            <button type="button" class="btn btn-light addItemQuick" title="ADD" ><i class="bi bi-plus-circle-fill text-primary"></i></button>
            <button type="button" class="btn btn-light removeItemQuick" title="Remove" ><i class="bi bi-x-circle-fill text-danger"></i></button>
        
          </th>
      
      
       </tr>
      
        </thead>
   
   `)
   
   })
  
       $(document).on("click", ".removeItemQuick", (e)=>{
            let thisItem= e.currentTarget.parentElement.parentElement.parentElement;
            $(thisItem).remove()
         
            
        })
       
  
  </script>
</quick>



<content>
  <div class="row m-2 mt-5 shadowx text-center">
    <div class="col-11 m-auto">

      <p class="p-2 text-muted fw-semibold fs-5">Our student settings</p>

    </div>
  </div>


  <div id="tabledata" class="row shadow p-2 mt-5">
    
    <div class="col-auto ms-auto me-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#openform" id="openformbtn"
        class="btn link-success shadowx btn-go fw-500">Create a new data</button>
    </div>
    <p></p>
    <div class="col-md-11 col-12 m-auto">

      <div class="d-flex justify-content-between">
        <select  style="width: 100px; outline: none;" class="order-tabledata form-dev shadowx p-0" name="" id="">
          <option selected value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option selected value="All">All</option>
        </select>

        <input id="search" style="width: 200px; outline: none;" class="ps-2 form-dev p-0 shadowx" type="search"
          placeholder="search">

      </div>

      <form class="w-100 overflow-auto" id="formcheckout" action="#" method="get" onsubmit="return false">
      <table  class="table text-nowrap mt-1 mbx shadowx table-borderless">
        <thead>
          <tr>
            <th class="p-3"> <input class="shadowx check-mark form-check-input" type="checkbox" name="checkout" id=""></th>
            <th class="fw-semibold text-muted">Name</th>
            <th class="fw-semibold text-muted">Roll</th>
            <th class="fw-semibold text-muted">Action</th>
          </tr>
        </thead>
        <tbody id="tbodydata" class="check-mark-area">

         <tr>
          <td colspan="3" ><span class="text-center shadowx alert-info">Loading...</span></td>
         </tr>

      <tfoot>
           
        <tr>
          <td class="shadowx"> <button type="submit" class="bi shadowx  btnpop bi-trash-fill btn btn-outline-danger"></button></td>
        </tr>

      </tfoot>

        </tbody>
      </table>
    </form>
    </div>
  </div>



  <div id="openform" data-bs-backdrop="static" class="row modal p-2 mt-5">

  <div class="col-md-10 modal-dialog modal-content shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">

    <form  id="formdata" action="#" method="post">
          <div class="col-11 pt-2">
            <p class="p-2 text-muted text-center fw-semibold fs-5">My create form</p>
          </div>


          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Class & Section</p>

                <code class="pe-1">*</code> 
                <select required name="classNameX" class="w-75 shadowx form-dev form-control-sm" id="">
          
                  <option value="" selected disabled>শ্রেণী নির্বাচন করুন</option>
          
                  <optgroup class="status_Six" label="ষষ্ঠ শ্রেণী">
                    <option class="status_Six_A" value="Six $%& A">ষষ্ঠ - ক</option>
                    <option class="status_Six_B" value="Six $%& B">ষষ্ঠ - খ</option>
                    <option class="status_Six_C" value="Six $%& C">ষষ্ঠ - গ</option>
                   </optgroup>
          
          
                                
                   <optgroup class="status_Seven" label="সপ্তম শ্রেণী">
                    <option class="status_Seven_A" value="Seven $%& A">সপ্তম - ক</option>
                    <option class="status_Seven_B" value="Seven $%& B">সপ্তম - খ</option>
                    <option class="status_Seven_C" value="Seven $%& C">সপ্তম - গ</option>
                   </optgroup>
                   
          
          
                   <optgroup class="status_Eight" label="অষ্টম শ্রেণী">
                    <option class="status_Eight_A" value="Eight $%& A">অষ্টম - ক</option>
                    <option class="status_Eight_B" value="Eight $%& B">অষ্টম - খ</option>
                    <option class="status_Eight_C" value="Eight $%& C">অষ্টম - গ</option>
                   </optgroup>
          
                    
          
                            
                     <optgroup class="status_Nine" label="নবম শ্রেণী">
                      <option class="status_Nine_A" value="Nine $%& A">নবম - ক</option>
                      <option class="status_Nine_B" value="Nine $%& B">নবম - খ</option>
                      <option class="status_Nine_c" value="Nine $%& C">নবম - গ</option>
                     </optgroup>
               
                      <optgroup class="status_Ten" label="দশম শ্রেণী">
                         <option class="status_Ten_A" value="Ten $%& A">দশম - ক</option>
                         
                         <option class="status_Ten_B" value="Ten $%& B">দশম - খ</option>
                         <option class="status_Ten_C" value="Ten $%& C">দশম - গ</option>
                        </optgroup>
                
          
                    
                 
                 </select>
       

          </div> 
          
          
          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Name</p>
            <code class="pe-1">*</code> 
            
            <input required name="name" class="w-75 shadowx form-dev form-control-sm" placeholder="enter name" type="text">
          </div>

          <div class="d-flex p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Gender</p>
            <code class="pe-1">*</code>  
              <span class="w-75">
              Male <input value="Male" class="form-check-input shadowx ms-2 me-2" checked type="radio" name="gender" id="">
              Female <input value="Female" class="form-check-input shadowx ms-2" type="radio" name="gender" id="">
          
            </span>
          
          </div>

          

          <div class="d-flex  p-2 justify-content-between align-items-center">
             
            <p class="w-25 fw-semibold m-auto">Sstudent roll</p>
            <code class="pe-1">*</code> 
            <input name="roll" class="w-75 shadowx form-dev form-control-sm" placeholder="enter roll" type="number">
           </div>
 


          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Auto SID</p>
            <code class="pe-1">*</code>  
              <input readonly name="sid" class="w-75 shadowx form-dev form-control-sm" placeholder="123456" type="number">
          </div>



          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Email</p>
            <code class="pe-1">*</code>  
            <input required name="emailx" class="w-75 shadowx form-dev form-control-sm" placeholder="example@gmai.com" type="email">
          </div>

          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Default password</p>
            <code class="pe-1">*</code>  
             <input readonly required  name="password" class="w-75 shadowx form-dev form-control-sm" value="password@abc" placeholder="password@abc" type="text">
          </div>

          
          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Phone </p>
            <code class="pe-1">*</code>  
            <input required maxlength="11" name="phone" class="w-75 shadowx form-dev form-control-sm" placeholder="01XXXXXXXX" type="number">
          </div>
          

          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Birth date</p>
            <code class="pe-1">-</code>  
              <input  name="birth_date" class="w-75 shadowx form-dev form-control-sm" type="date">
          </div>

          
          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Blood group</p>

            <code class="pe-1">-</code>  
               <select name="blood_group" class="w-75 shadowx form-dev form-control-sm" id="" >
              <option selected disabled value="">Blood Group</option>
        
              <optgroup label="Positive"> 
            
                <option  value="A+ve">A+ve</option>
                <option value="B+ve">B+ve</option>
                <option value="O+ve">O+ve</option>
                <option value="AB+ve">AB+ve</option>
            
                </optgroup> 
                
                <optgroup label="Negative"> 
                <option  value="A-ve">A-ve</option>
                <option value="B-ve">B-ve</option>
                <option value="O-ve">O-ve</option>
                <option value="AB-ve">AB-ve</option>
            
                </optgroup>
            
            
            </select> 
          
          </div>



      <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Religion</p>

            <code class="pe-1">-</code>  
            
            <select class="w-75 shadowx form-dev form-control-sm" name="religion" id="">
       
              <option disabled selected value="">Select Religion</option>
              <option value="Islam">Islam</option>
              <option value="Hinduism">Hinduism</option>
              <option value="Christianity">Christianity</option>
              <option value="Buddhism">Buddhism</option>
          <option value="Others">Others</option>
        </select>
          </div>

      


          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Address</p>
            <code class="pe-1">-</code>  
             <input  name="address" class="w-75 shadowx form-dev form-control-sm" placeholder="enter address" type="text">
          </div>


          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Admit date</p>
            <code class="pe-1">-</code>  
               <input  name="admission_date" class="w-75 shadowx form-dev form-control-sm" type="date">
          </div>

          


          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto">Photo</p>
            <code class="pe-1">*</code>  
              <input required name="images" class="w-75 shadowx images form-dev form-control-sm" type="file"
              id="">
          </div>


          <div class="d-flex  p-2 justify-content-between align-items-center">
            <p class="w-25 fw-semibold m-auto"></p>

            <div class="images_append w-75">


            </div>

          </div>        

          <div class="d-flex justify-content-between p-2 mb-2">
            <button type="button" data-bs-dismiss="modal" class="btn btn-link">Close</button>
            <button class="btn  text-primary submitbtn nav-fill btn-hover shadowx">Create and save</button>
          </div>

    </form>

  </div>


  </div>

</content>






 </main>

 <%-include("../component/___node.html") %>
 <script src="/app/___noviewport.js"></script>
 
 <button style="display: none;" type="button" data-bs-toggle="modal" data-bs-target="#penboxform" id="penboxmodalbtn"
 class="btn link-success shadowx btn-go fw-500"></button>
 
 <div class="penboxformappend">
 
 </div>

</body>

<script>

   
(function(){
    $.ajax({
      type: "get",
      url: "/pu/class/section/rm",
      data: {},
      dataType: "JSON",
      success: function (res) {
  
       for (let index = 0; index < res.cls.length; index++) {
  
        $(".status_"+res.cls[index].class).remove()
          
       }
  
       for (let index = 0; index < res.clss.length; index++) {
  
          $(".status_"+res.clss[index].class+'_'+res.clss[index].section).remove()
          
       }
      }
    });
  
    }())
  

  $(document).ready(function(){
      $("#search").keyup(function() {
        var value = $(this).val().toLowerCase();
        $("#tabledata tbody tr").filter(function() {
           
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
         
        });
      });
    });
    
    
noview.port({
        input_class: 'images',
        append_class: 'images_append',
        file_type: 'image',
        max_kb_size: 1024,
        multiple: true,
    
    
      })
    

$('.order-tabledata').on('change', ()=>{
  tabledata($('.order-tabledata').val())
})


    function tabledata(limit){
      const class_name= 'Six';
      const section_name= 'A';
      $.ajax({
        method: "post",
        url: "/admin/student/get/pull",
        data: {class_name, section_name, limit},
        dataType: "JSON",
        success: function (res) {
          $('#tabledata tbody').html(res.tabledata)
        }
      });
    }
    
    tabledata(30)
    
    $('#formdata').on('submit', (event)=>{
    event.preventDefault();
    let formdata = new FormData($("#formdata")[0])
    $.ajax({
      method: "post",
      url: "/admin/setup/student/post",
      data: formdata,
      dataType: "JSON",
      mimeType: 'multipart/form-data',
      cache: false,
      processData: false,
      contentType: false,
      beforeSend: function(){
    $('.submitbtn').addClass('disabled')
      },
      success: function (res) {
        _msg_pull(res.alert, res.msg)
        tabledata()
        $('.submitbtn').removeClass('disabled')
    
      }
    });
    })
    
    
    $('#formcheckout').on('submit', (event)=>{
      event.preventDefault()
      // const dataid= $('#formcheckout').serialize()
      $.ajax({
      method: "post",
      url: "/admin/student/rm/pop",
      data: $('#formcheckout').serialize(),
      dataType: "JSON",
      success: function (response) {
        _msg_pull(response.alert, response.msg)
        tabledata()
      }
    });
    })
    
    
    function _delbox_push(dataid){
    $.ajax({
      method: "post",
      url: "/admin/student/rm/pop",
      data: {dataid},
      dataType: "JSON",
      success: function (response) {
        _msg_pull('alert-danger', 'Delete successfully!')
        tabledata()
      }
    });
     
    }
    
    
    function _penbox_pull(dataid){
    $.ajax({
      method: "post",
      url: "/admin/student/penbox/pull",
      data: {dataid},
      dataType: "JSON",
      success: function (res) {
    
        $('.penboxformappend').html(res.penboxdata)
        $('#penboxmodalbtn').click()
        
      }
    });
    }
    
    
    $(document).on('submit','#penboxdata', (event)=>{
      event.preventDefault();
      $.ajax({
        method: "post",
        url: "/admin/student/penbox/push",
        data: $('.penboxdata').serialize(),
        dataType: "JSON",
        success: function (res) {
          _msg_pull(res.alert, res.msg)
          tabledata()
        }
      });
    
    })
    
    
  </script>
  


</html>