
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcript Report</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
  table>thead {
    vertical-align:baseline !important;
}
  tbody, td, tfoot, th, thead, tr {
    border-color: black;
    border-style: solid;
    border-width: 1 !important;
}
</style>
<body onload='pageLoadingTop()'>

  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 


  <div id="main-content" class="p-2 main-content mt-5 row">

    <div class="btn-section-top mb-3">
      <center class="mt-5  p-2 text-primary fw-semibold">
        <a href="/admin/transcript/final-card-drop-student-list/<%=className%>/<%=sectionName%>"
          class="view-link p-0 ps-2 pe-2 btn nav-link d-inline-block" title=''>অনউত্তীর্ণ তালিকা |</a>
        <a href="/admin/transcript/final-card-passed-student-list/<%=className%>/<%=sectionName%>"
          class="view-link p-0 ps-2 pe-2 btn  nav-link d-inline-block" title=' '>উত্তীর্ণ তালিকা |</a>
        <a href="/admin/transcript/final-card-waiting-student-list/<%=className%>/<%=sectionName%>"
          class="view-link p-0 ps-2 pe-2 btn  nav-link d-inline-block" title=' '>এখনো করা হয়নি! </a>

      </center>
    </div>


    

<div id="btnSection" class="mb-2 btn-section-bottom">
  <center> <input class="student_uuid" type="hidden" value="<%=student_uuid%>" name="">
   <button  class="btn disabled p-0 ps-2 pe-2 droppedResult btn-danger">অনউত্তীর্ণ</button> 
   <button  class="btn disabled p-0 ps-2 pe-2 passedResult btn-success">উত্তীর্ণ</button> 
   <a href="/admin/transcript/report-get/<%=className%>/<%=sectionName%>/auto?student_offset=<%=offsetPlus%>" class="btn p-0 ps-2 pe-2 <%=btnstatus%> btn-primary">পর্রবতী</a> 

  </center>
</div>

<div class="d-flex p-2 justify-content-center m-2">
  <button onclick="printArea()" class="btn view-link ps-3 pe-3 fw-semibold text-primary printAreaBtn">Download pdf record</button>
</div>

    <div id="printArea">
    
    <div class=" row">
     
      <div class="col-11  shadowx m-auto p-2  position-relative">
   
        <div class="bg-card-color-light text-dark p-2 rounded-top-5 rounded-start-5">
          
          <div class="d-flex text-uppercase align-items- justify-content-between">
    
            <div class="flex-fill d-flex align-items-center">
              <img  class="avatar-circle school-logo" style="width: 50px; height: 50px; border-radius: 100%;" src="/image/default/resized/<%=slogo%>" alt="">
              <h4 class="text-uppercase p-1 school-name"><%=sname%></h4>
           
            </div>
          
          
        
            <div class="d-flex flex-fill flex-column align-items-center justify-content-center">
              <img class="avatar-circle p-1" style="width: 100px; height: 100px;" src="/image/student/resized/<%=infoStudent[0].avatar%>" alt="">
              <h6 class="text-uppercase pt-2 text-center"><%=className%> - <%=sectionName%> - <%=infoStudent[0].roll%> <br> <%=infoStudent[0].name%></h6>
            </div>
   
            
          </div>
   
        </div>
   
      </div>
      
  
    </div>




    <% const infoChapter= ['PI-1','PI-2','PI-3','PI-4','PI-5',
    'PI-6','PI-7','PI-8','PI-9','PI-10','PI-11','PI-12'
 ]%>

<p></p>



<div class="row mainApp" style="width: 100%; overflow-x: auto;">


  <div class="col-auto m-auto ">
<center class="p-2"><caption><b>BI Perfomance</b></caption>
  </center>
  <table class=" table table-bordered">

      <thead  class="">

          <% for( let index = 0; index <infoCatagory.length; index++ ) { %>
            <th><small style="font-size: smaller;">BI-<%=index+1%></small></th>

          <% } %>

      </thead>



      <tbody class="">

           <tr>

          <% for( let index = 0; index <infoCatagory.length; index++ ) { %>
              <td > 
                  <div class="form-check checkout_<%=infoStudent[0].student_uuid%><%=infoCatagory[index].catagory_code%> fs-3 p-0 m-0">
              
                    <i class="bi bi-square"></i>           

                                                          
                  </div>
          
                  
                 </td>
          <% } %>
 
</tr>
      </tbody>


  </table>


  </div>
</div>

  
<div class="row mainApp" style="width: 100%; overflow-x: auto;">
  <div class="col-12 m-auto ">

  <center><caption clas><b>Transcript report</b></caption></center>
    <table class=" table table-bordered mt-2">
   <thead class=""> 
    <tr>
      <th>Subject</th>

   <% for( let index = 0; index <infoChapter.length; index++ ) { %>
                    <th><%=infoChapter[index]%></th>
    
                  
        <% } %>
      

      </tr>
   </thead>

  <tbody class="">

<% for( let i = 0; i < infoSubject.length; i++ ) { %>
 <tr>

<td>
  <small style="font-size: smaller; font-weight: bold;"><%=infoSubject[i].subject%></small>
</td>

<% for( let index = 0; index <infoChapter.length; index++ ) { %>
    <td > 

        <div class="form-check checkout_<%=student_uuid%><%=infoSubject[i].subject_code%><%=infoChapter[index]%> fs-3 p-0 m-0">
                    
          <i class="bi bi-square"></i>           
       
           
           </div>

        
       </td>
<% } %>

</tr>
<% } %>
</tbody>


  
  </table>

  </div>
</div> 

    </div>

</div> 
    
<%- include("../component/___node.html") %> 

</body>


<script src= "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"> </script>

<script>

function printArea(todo){
 $('.printAreaBtn').addClass('disabled');
  $('.mainApp').css('overflow-x', 'visible');
  $('.btn-section-top').hide();
  $('.btn-section-bottom').hide();

const className= '<%=className%>'
const sectionName= '<%=sectionName%>'
const student_uuid= '<%=student_uuid%>'

_spin_pull()
_spin_bar_pull()
  setTimeout(() => {
var element = document.getElementById('printArea');

   var options = {
    image: { type: 'jpeg', quality: 1 },
    margin: [0, 0, 0, 0], //top, left, buttom, right,
    filename: `Transcript-${className}-${sectionName}-${-student_uuid}.pdf`,
        image: {type: 'jpeg',quality: 0.90},
            html2canvas: {dpi: 192, scale: 2, letterRendering: true},
            pagebreak: {mode: 'avoid-all'},
            jsPDF: {unit: 'pt', format: 'a4', orientation: 'portrait'},          
            compressPDF: true,
         

     };
       _spin_pop()
       _spin_bar_pop()
  _msg_pull('alert-success', 'Download Successfully...', false)
  $('.printAreaBtn').removeClass('disabled');
  html2pdf().set(options).from(element).save();
  $('.btn-section-top').show()
  $('.btn-section-bottom').show()

  }, 3000);

  
}


function student_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
 const student_uuid= '<%=student_uuid%>'
    $.ajax({
        method: "post",
        url: "/privet/transcript/report-get-checkout",
        data: {className, sectionName, student_uuid},
        dataType: "JSON",
        success: function (response) {
         
            for (const key in response.info_checkout) {
              $('.checkout_'+response.info_checkout[key].checkout).html(response.info_checkout[key].pi==1?'<i class="bi bi-square-fill"></i>':response.info_checkout[key].pi==2?'<i class="bi bi-circle-fill"></i>':response.info_checkout[key].pi==3?'<i class="bi bi-triangle-fill"></i>':'<i class="bi bi-square"></i>');
            }
        }
    });
    
}

student_checkout_class()

function bi_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
 const student_uuid= '<%=student_uuid%>'
    $.ajax({
        method: "post",
        url: "/privet/bi/transcript-report-checkout",
        data: {className, sectionName, student_uuid},
        dataType: "JSON",
        success: function (response) {
            for (const key in response.info_checkout) {
              $('.checkout_'+response.info_checkout[key].checkout).html(response.info_checkout[key].bi_point==1?'<i class="bi bi-square-fill"></i>':response.info_checkout[key].bi_point==2?'<i class="bi bi-circle-fill"></i>':response.info_checkout[key].bi_point==3?'<i class="bi bi-triangle-fill"></i>':'<i class="bi bi-square"></i>');


            }
        }
    });
    
}

bi_checkout_class()



$(document).on('click', '.passedResult', ()=>{
    const className=  `<%=className%>`;
    const sectionName= `<%=sectionName%>`;
    const student_uuid= $('.student_uuid').val()
    $.ajax({
        method: "post",
        url: "/admin/transcript/final-card-passed-result",
        data: {className, sectionName, student_uuid},
        dataType: "JSON",
        beforeSend: function(){
           
        },
        success: function (info) {

                _msg_pull('alert-success', 'Action submitted!')
        }
    });
})





$(document).on('click', '.droppedResult', ()=>{
    const className=  `<%=className%>`;
    const sectionName= `<%=sectionName%>`;
    const student_uuid= $('.student_uuid').val()
    $.ajax({
        method: "post",
        url: "/admin/transcript/final-card-drop-result",
        data: {className, sectionName, student_uuid},
        dataType: "JSON",
        beforeSend: function(){
$('.passedResult').addClass('disabled')
$('.droppedResult').addClass('disabled')

$('.toast-msg').html(`<img src="/image/default/loading-load.gif" width="100px" class=" bg-dark" alt="">
        <span>Processing...</span>`)
        $('.toast').addClass('show');

        },
        success: function (info) {

      
         $('.toast-btn').click()
        }
    });
})




(function(){
  $.ajax({
    type: "get",
    url: "/pu/school/info/get",
    data: {},
    dataType: "JSON",
    success: function (response) {
      $(".school-name").text(response.info[0].name)
    }
  });
  }())




</script>


</html>
