
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcript Report</title>
      <%- include('../component/metadata.html') %>
</head>
<style>
  table>thead {
    vertical-align:baseline !important;
}
  tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 3 !important;
}
</style>
<body onload='pageLoadingTop()'>

  <div class="d-flex p-2 justify-content-center m-2">
    <button onclick="printArea()" class="btn view-link ps-3 pe-3 fw-semibold text-primary printAreaBtn">Download pdf record</button>
  </div>


<div class="appenddata" id="printArea">
    
</div>

    
<%- include("../component/___node.html") %>  
</body>


<% for( let index = 0; index < getStudent.length; index++ ) { %>
  <input class="getStudent<%=index%>" value="<%=getStudent[index].student_uuid%>" type="hidden" name="">

<% } %>


<script src= "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"> </script>

<script>

  

function printArea(todo){
 $('.printAreaBtn').addClass('disabled');
  $('.mainApp').css('overflow-x', 'visible');


const className= '<%=className%>'
const sectionName= '<%=sectionName%>'
_spin_pull()
_spin_bar_pull()
  setTimeout(() => {
var element = document.getElementById('printArea');

   var options = {
    image: { type: 'jpeg', quality: 1 },
    margin: [0, 0, 0, 0], //top, left, buttom, right,
        filename: `Transcript-${className}-${sectionName}.pdf`,
        image: {type: 'jpeg',quality: 0.90},
            html2canvas: {dpi: 192, scale: 2, letterRendering: true},
            pagebreak: {mode: 'avoid-all'},
            jsPDF: {unit: 'pt', format: 'a4', orientation: 'portrait'},
            pagebreak: { after: '.page-break' },
            pagesplit: true,
            compressPDF: true,
         

     };
       _spin_pop()
       _spin_bar_pop()
  _msg_pull('alert-success', 'Download Successfully...', false)
  $('.printAreaBtn').removeClass('disabled');
  html2pdf().set(options).from(element).save();


  }, 3000);

  
}



function transcript_pdf_get(){
  _spin_pull()
  const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
 const sname= '<%=sname%>'
 const slogo= '<%=slogo%>'
 var getLength= `<%=getStudent.length%>`
for (let index = 0; index < getLength; index++) {
 const student_uuid= $('.getStudent'+index).val();
 if(getLength==index+1) {
  _spin_pop()

 }
  $.ajax({
    type: "post",
    url: "/admin/transcript/pdf-get",
    data: {className, sectionName, student_uuid, sname, slogo},
    dataType: "JSON",
    success: function (res) {
      $('.appenddata').append(res.report_card);
bi_checkout_class()
student_checkout_class()

    }
  });

}
}

transcript_pdf_get()




function bi_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
    $.ajax({
        method: "post",
        url: "/admin/bi/transcript/pdf-checkout",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (response) {
            for (const key in response.info_checkout) {

              $('.checkout_'+response.info_checkout[key].checkout).html(response.info_checkout[key].bi_point==1?'<i class="bi bi-square-fill"></i>':response.info_checkout[key].bi_point==2?'<i class="bi bi-circle-fill"></i>':response.info_checkout[key].bi_point==3?'<i class="bi bi-triangle-fill"></i>':'<i class="bi bi-square"></i>');


            }
        }
    });
    
}




function student_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
    $.ajax({
        method: "post",
        url: "/admin/transcript/pdf-checkout",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (response) {
            for (const key in response.info_checkout) {
              $('.checkout_'+response.info_checkout[key].checkout).html(response.info_checkout[key].pi==1?'<i class="bi bi-square-fill"></i>':response.info_checkout[key].pi==2?'<i class="bi bi-circle-fill"></i>':response.info_checkout[key].pi==3?'<i class="bi bi-triangle-fill"></i>':'<i class="bi bi-square"></i>');


            }
        }
    });
    
}


(function(){
  $.ajax({
    type: "get",
    url: "/pu/school/info/get",
    data: {},
    dataType: "JSON",
    success: function (response) {
      $(".school-name").text(response.info[0].name)
    }
  });
  }())

</script>


</html>
