<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rranscript report</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
    thead th, tbody td{
    border-right: 1px solid black;
    }
</style>
<body onload="pageLoadingTop()">
  
  <%- include("../component/admin-header-nav.html") %> 
  <%- include("../component/admin-menu-nav.html") %> 
  
  <%-include("../component/modal-danger.html") %> 
  <%-include("../component/modal-success.html") %> 
  
  <%-include("../component/toast-ajax.html") %> > 

  <div id="main-content" class="p-2 mt-5 row">

   <center>
      <a href="/admin/transcript/final-card-drop-student-list/<%=className%>/<%=sectionName%>"  class="  btn nav-link d-inline-block" title=''>অনউত্তীর্ণ তালিকা |</a> 
      <a href="/admin/transcript/final-card-passed-student-list/<%=className%>/<%=sectionName%>"  class="  btn  nav-link d-inline-block" title=' '>উত্তীর্ণ তালিকা |</a> 
      <a href="/admin/transcript/final-card-waiting-student-list/<%=className%>/<%=sectionName%>"  class="  btn  nav-link d-inline-block" title=' '>এখনো করা হয়নি! </a> 

</center>


    <div class="row">


        <div class="col-md-10 m-auto ">
    
            <center>
                <span class="bg-light badge fs-5 text-dark"><%=className%> - <%=sectionName%></span>
            </center>


<div class="row">
   <div class="col-10 col-md-6 mt-2 m-auto">
      <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">
              
</div>
<script>

$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $(".card").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});
</script>

  <div id="infoAdmission" class="row">

    <% for(let i= 0; i<infoStudent.length; i++) {%>

     
       
       <div  class="col-10 col-md-2 mt-2 mt-md-1 m-auto m-md-0 text-center">
         
             <div class="card ">
                <a class="page-link" href="/admin/transcript/report-get/<%=className%>/<%=sectionName%>/<%=infoStudent[i].student_id%>">

                 <img class="card-img-to m-auto" width="100px" src="/image/student/<%=infoStudent[i].avatar%>" alt="404"> 
                 <div class="card-body">
                     <h5 class="card-title"><%=infoStudent[i].name%> </h5>    
                 </div>
                 </a>          
             </div>
         </div>
   
       <% } %>  
   
           <!-- end div -->
       </div>
    
        </div>
      </div>
      </div>



    </div>
    <%- include("../component/___node.html") %> 

</body>


<script>



</script>


</html>