
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Library</title>
  
    <%- include("../component/metadata.html") %> 



</head>
<body onload="pageLoadingTop()">

    <%- include("../component/header-nav.html") %> 
<%- include("../component/menu-nav.html") %> 
<%- include("../component/offcanvas-nav.html") %> 
   

    <div id="" class=" container row">
        <input class=" m-auto col-6"  type="search" name="myInput" id="myInput" style="outline: none;" placeholder="Search">

        <table class=" table table-hover">
            <thead class="" id="thead">
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Copy</th>
                    <th>Class</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
                    </tr>
            </thead>

            <tbody>

               
            </tbody>

            <!-- <tfoot>
                <tr>
                    <td>Total=</td>
                </tr>
            </tfoot> -->


        </table>

    </div>


    <%- include("../component/footer-nav.html") %> 

    <script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});



function loadDisplay(){

$.ajax({
method: "post",
url: "/privet/library/get",
data: {},
dataType: "JSON",
beforeSend: function(){
},
 
success: function(info){
  

    $("tbody").html(info.html)


}
})

}

loadDisplay()





 </script>

    
</body>
</html>