<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Open a Subject</title>
  <%- include("../component/metadata.html") %>

</head>
<style>
  thead th,
  tbody td {
    border-right: 1px solid black;
  }

  
</style> 

<body onload="pageLoadingTop()">

  <%- include("../component/user-header-nav.html") %>
    <%- include("../component/offcanvas-nav.html") %>

    <main>
      
      <center class="p-3 mt-5">
        <span class="bg-light badge fs-5 text-dark">
          <%=class_name%> - <%=section_name%>
        </span>
        
      </center>


      <div class="row p-2 mt-1 mb-5 settings-cards">

    
        <code class="elem_data">

         <div class="col-md-7 col-11 m-auto">
          <div class="list-group shadowx m-1">
            <div class="d-flex text-center fw-bolder ">
              <span class="fs-3 ps-3 m-1 fw-semibold text-center text-muted">Open a subject</span>
            </div>
         </div>
         </div>

        <% for (const key in subject ) { %>
          <code class="subject-<%=subject[key].subject%>">
         
            <div class="col-md-7  col-11 m-auto  rounded">
          
              <span class="">
          
             <!-- Hover added -->
             <div class="list-group shadowx m-1 fw-semibold text-muted">
              <a href="/teacher/result/mark-student-page/<%=class_name%>/<%=section_name%>/<%=subject[key].subject_code%>" class="list-group-item list-group-item-action fs-6 shadow-sm rounded ">
                <div class="d-flex align-items-center">
                  <span class="ps-1 fw-semibold text-muted"><%=subject[key].subject%></span>
                </div>
              </a>
             </div>
             
              </span>
          
          </div>
        
        
          </code>
        <% } %>

    
    
        </code>
    
    
      </div>


    </main>

      <%- include("../component/___node.html") %>

</body>


</html>