<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI report system</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
   body {
    overflow-x: hidden;
  }
    thead th, tbody td{
    border-right: 1px solid black;
    }
    thead th{
    position:sticky; top: -1px;background: white; z-index: 1020;
  }

      /* Designing for scroll-bar */
      ::-webkit-scrollbar {
            width: 5px;
        }
     
        /* Track */
        ::-webkit-scrollbar-track {
            background: gainsboro;
            border-radius: 5px;
        }
     
        /* Handle */
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #432121;

        }
     
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #432121;
}

</style>
<body onload="pageLoadingTop()">

    <%- include("../component/user-header-nav.html") %> 
    <%- include("../component/teacher-offcanvas-nav.html") %> 


    <!-- heading section -->
    <div class="row mt-5 mbx p-2 shadowx">
      <center>
        <span class="bg-light badge fs-5 text-dark"><%=className%> - <%=sectionName%></span>
    </center>
    
      <div class="col-11 col-md-6 mt-2 m-auto">
        <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">
    
    </div>
        
  

</div>

<div style="width: 98% !important; overflow: auto; transform: rotateX(180deg);" class="row mt-2 m-auto" >


  <table style="transform: rotateX(180deg);"  class="table table-hover">


            <thead  class="table-success ">          
                <% for( let index = 0; index <infoCatagory.length; index++ ) { %>
                    <th><small style="font-size: smaller;"><%=infoCatagory[index].catagory_name%></small></th>
    
                <% } %>

            </thead>


    
            <tbody class="text-center">

                <% for( let i = 0; i < infoStudent.length; i++ ) { %>
                 <tr>
 
                <% for( let index = 0; index <infoCatagory.length; index++ ) { %>
                    <td > 
                        <small class="badge bg-light text-dark"><%=infoStudent[i].name%></small> 
                        <div class="form-check checkout_<%=infoStudent[i].student_uuid%><%=infoCatagory[index].catagory_code%> m-0 p-0 form-switch d-flex btn ">
                    
                                     
                                 <span class="p-2 fs-5  border-end checked_<%=infoStudent[i].student_uuid%><%=infoCatagory[index].catagory_code%>bg-danger">&#9726; <input value="1"   class="form-check-input m-0 p-2" type="radio" name="<%=infoStudent[i].student_uuid%>N<%=index%>" id=""> </span>
                                 <span class="p-2 fs-5 border-end checked_<%=infoStudent[i].student_uuid%><%=infoCatagory[index].catagory_code%>bg-warning">&#9673; <input value="2"  class="form-check-input m-0 p-2" type="radio" name="<%=infoStudent[i].student_uuid%>N<%=index%>" id=""> </span>
                                 <span class="p-2 fs-5 checked_<%=infoStudent[i].student_uuid%><%=infoCatagory[index].catagory_code%>bg-success">&#9650; <input value="3" class="form-check-input m-0 p-2" type="radio" name="<%=infoStudent[i].student_uuid%>N<%=index%>" id=""> </span>
                    
                        
                        </div>
                
                        
                       </td>
                <% } %>
       
    </tr>
                <% } %>
            </tbody>
    
    
        </table>
    
   
      </div>




 <!-- pagination section -->
 <div class="row p-2">
    <div class="col-11 m-auto" style="position:relative; overflow-x: scroll;">

        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item <%=prevbtnstatus%>">
                <a class="page-link" href="/teacher/bi/page-report-get/<%=parseInt(page)-parseInt(1)%>/<%=className%>/<%=sectionName%>">Previous</a>
              </li>

              <% for( let index = 1; index <=Math.ceil(pagination); index++ ) { %>

                <li class="page-item"><a class="page-link <%=page==index?'active':''%>" href="/teacher/bi/page-report-get/<%=index%>/<%=className%>/<%=sectionName%>"><%=index%></a></li>
   
              <% } %>

              <li class="page-item">
                <a class="page-link <%=nextbtnstatus%> <%=pagination<=1?'disabled':''%>" href="/teacher/bi/page-report-get/<%=parseInt(page)+parseInt(1)%>/<%=className%>/<%=sectionName%>">Next</a>
              </li>
            </ul>
          </nav>

    </div>
  </div>
 


  <%- include("../component/___node.html") %> 



</body>
<script>

$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});

function self_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
    $.ajax({
        method: "post",
        url: "/teacher/bi/report-self-checkout",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (response) {
            for (const key in response.info_checkout) {
                $('.checkout_'+response.info_checkout[key].checkout).addClass('disabled').addClass(response.info_checkout[key].bg_color)
                $('.checked_'+response.info_checkout[key].checkout+response.info_checkout[key].bg_color+' input').attr('checked', true).addClass('bg-dark');
            }
        }
    });
    
}

self_checkout_class()

</script>
</html>