<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Video</title>

<%- include("../component/metadata.html") %>


</head>


<body onload="pageLoadingTop()">
    

          
<%- include("../component/header-nav.html") %>
<%- include("../component/menu-nav.html") %>
  

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-11 m-auto">
      <p class="p-2 shadow-sm fw-semibold">
        <span class="text-primary fw-bold">Our gallery of</span> <%=info[0].item_title%>
      </p>
    </div>
  </div>

  <% if (info.length == 0) { %>
    <div class="row">
      <div class="col-11 m-auto">
        <p class="p-2 fw-semibold shadow-sm alert">No record</p>
      </div>
    </div>
  <% } else { %>
    <div class="row justify-content-center g-3">
      <% for (let index = 0; index < info.length; index++) { %>
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card shadow-sm h-100">
            <iframe class="card-img-top img-fluid bg-card-color-light" src="<%=info[index].item_name.replace('watch?v=', 'embed/')%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
</div>

  

<%- include("../component/footer-nav.html") %>
      

</body>

      

</html>