
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <%- include("../component/metadata.html") %> 
  
</head>
<body onload="pageLoadingTop()">

    <% if( typeof msg!=typeof alifn && msg.length>0) {%>

        <%-include("../component/toast-ejs") %> 
   
           <% } else { %>
             <%=null %> 
             <% } %> 


  <% if(step=="step1") {%>

     <!-- section 1............ -->
   <div id="section1">
    <div class="row">
     <div class="col-lg-3 col-md-2 col-sm-1"></div>
     <div class="col-lg-5 col-md-8 col-sm-10">
 
         <form action="/au/forgot/password" method="post" class="form container ">
 
             <img src="/image/user.png" height="70px" alt="">
 
             <h1>Forgot Password</h1>
 
             <p>Fill the form to reset your password.</p><br><br>
 
          
 
             <div class="input-group">

                <span class=" input-group-text"><img width="30px" src="/icon/user/icons8-test-account-48.png" alt=""></span>

                <select class=" form-self form-select" name="userRole" id="">
                    <option value="students">Student</option>
                    <option value="teachers">Teacher</option>
                    <option value="parents">Parent</option>
                </select>

             </div>

 <p></p>
  
             

             <div class="input-group">

                <span class=" input-group-text"> <img width="30px" src="/icon/user/icons8-mail-48.png" alt=""> </span>
                <input type="text" placeholder="Enter Username" name="username" class="form-self form-control" required><p></p>
 
            </div>

            <p></p>
 
             <center>
                 <input type="submit" value="Continue" class="btn-self w-50" >
             </center> <p></p>
             <p>Return to <a href="/au/singin/page" id="signIn_link" class="specialC">Sign in  <img width="20px" src="/icon/user/icons8-back-48.png" alt=""></a></p>
 
         </form>
     </div>
     <div class="col-lg4 col-md-2 col-sm-1"></div>
 
    </div>
 
 
     </div>  

    <% } else if (step=="step2") {%>

   <!-- section 2............ -->
   <div id="section2">
    <div class="row">
     <div class="col-lg-3 col-md-2 col-sm-1"></div>
     <div class="col-lg-5 col-md-8 col-sm-10">
 
         <form   action="/au/forgot/password/verify" method="post" class="form container ">
 
             <img src="/image/user.png" height="70px" alt="">
 
             <h1>Email Sent! </h1>
 
             <p>Fill the form to email verification code.</p><br><br>
 
    
             <label for="number">Verification Code.</label><br>
             <input type="number" placeholder="Enter Code" name="verifyCode" class="form-self" required> <p></p>
 
 
             <center>
                 <input type="submit" value="Verify" class="btn-self w-50" >
             </center> <p></p>
             <p>Return to <a href="/au/singin/page" id="signIn_link" class="specialC">Sign in</a></p>
 
         </form>
     </div>
     <div class="col-lg4 col-md-2 col-sm-1"></div>
 
    </div>
 
 
     </div>  

        <% } else if(step=="step3"){%>

               <!-- section 3............ -->
   <div id="section3">
    <div class="row">
     <div class="col-lg-3 col-md-2 col-sm-1"></div>
     <div class="col-lg-5 col-md-8 col-sm-10">
 
         <form  action="/au/forgot/password/reset" method="post" class="form container ">
 
             <img src="/image/user.png" height="70px" alt="">
 
             <h1>Setup New Password</h1>
 
             <p>setup a new password and continue.</p><br><br>
 
             
 
             <div class="input-group">


                <span class=" input-group-text"> <img width="30px" src="/icon/icons8-sign-in-form-password-48.png" alt=""> </span>
                <input id="password" type="password" placeholder="********" name="password"  value="" class="form-control" required>
                <span id="eye-hide" class="btn input-group-text"><i class="fa-sharp fa-solid fa-eye-slash"></i></span>
                <span style="display: none;" id="eye-show" class="btn input-group-text"><i class="fa-sharp fa-solid fa-eye"></i></span>
    

            </div>
 
             <center>
                 <input type="submit" value="Reset" class="btn-self w-50">
             </center> <p></p>
             <p>Return to <a href="/au/singin/page" id="signIn_link" class="specialC">Sign in</a></p>
 
         </form>
     </div>
     <div class="col-lg4 col-md-2 col-sm-1"></div>
 
    </div>
 
 
     </div>


            <%  } else {%>
                <%=null %> 
                <% } %>     
    
    
    
    
    <script>

   $('#eye-hide').click(()=>{
    $('#password').attr('type', "text")
    $('#eye-hide').css({'display': 'none'})
    $('#eye-show').css({'display': 'block'})
})


$('#eye-show').click(()=>{
    $('#password').attr('type', "password")
    $('#eye-hide').css({'display': 'block'})
    $('#eye-show').css({'display': 'none'})
})

    </script>
 
    
    
    
 <%- include("../component/___node.html") %> 

    
</body>
</html>