

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Username</title>
    <%-include("../component/metadata.html") %> 
</head>

<body onload="pageLoadingTop()">


  <% if( typeof msg!=typeof alifn && msg.length>0) {%>

    <%-include("../component/toast-ejs") %> 

       <% } else { %>
         <%=null %> 
         <% } %> 
          <p></p>
      
  <hr>

    <% if(user=="teacher") {%>

        <form class='mt-5' action="/teacher/email/update" method="post" class=" mt-3" >

           <center>
            
            <p></p>
            <div><input type="text" placeholder="Enter verification" name="verifyCode" class="form-dev w-50" required></div>
            <p></p>
           </center>
        
            <center>
              <button class="25 btn text-light" style="background-color: slateblue;">Verify</button>
            </center>
            <p></p>
            
          </form>
        
        <% } else if(user=="student"){%>

            <form class='mt-5' action="/student/email/update" method="post"  class=" mt-3">

               <center>
                
                <p></p>
                <div><input type="text" placeholder="Enter verification" name="verifyCode" class="form-dev w-50" required></div>
                <p></p>
               </center>
            
                <center>
                  <button class="w-25 btn text-light" style="background-color: slateblue;">Verify</button>
                </center>
                <p></p>
              </form>
              
            
            <% }  else if(user=="parent"){%>
              <form class='mt-5' action="/parent/email/update" method="post"  class=" mt-3">

                <center>
                 
                 <p></p>
                 <div><input type="text" placeholder="Enter verification" name="verifyCode" class="form-dev w-50" required></div>
                 <p></p>
                </center>
             
                 <center>
                   <button class="w-25 btn text-light" style="background-color: slateblue;">Verify</button>
                 </center>
                 <p></p>
               </form>



                <% }  else {%>  
                  <%=null %> 
                  <% } %> 

                  <%- include("../component/___node.html") %> 

</body>
</html>

