
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Rank </title>
    <%- include("../component/metadata.html") %> 


</head>
<body onload="pageLoadingTop()">

  <%- include("../component/header-nav.html") %> 

  <p></p>
<div id="" class="row ">

  <div class="col-10 col-md-6 m-auto" id="">
 
    <center><strong class="badge bg-success">Top Level</strong></center>

    <% if(infoA.length>0) {%>   
  
    <ul class="list-group mt-2">
      <li class="list-group-item list-group-item-primary">
          <img src="/image/student/<%=infoA[0].avatar%>" height="30px" class=" rounded" width="40px" alt="">
   
          <span class=" badge bg-light text-muted"> <%=infoA[0].class%> </span>
          <span class=" badge bg-light text-muted"> <%=infoA[0].section%> </span>
          <span class=" badge bg-light text-muted"><%=infoA[0].name%> (<%=infoA[0].roll%>) </span>
          <span class=" badge bg-primary "> Rating (<%=infoA[0].poient%>) </span>

       </li>
     
   
  </ul>

  <% }  else {%>
    <%=null %> 
    <% } %>  


    <% if(infoB.length>0) {%>   
      <ul class="list-group mt-2" id="">
        <li class="list-group-item list-group-item-primary">
            <img src="/image/student/<%=infoB[0].avatar%>" height="30px" class=" rounded" width="40px" alt="">
     
            <span class=" badge bg-light text-muted"> <%=infoB[0].class%> </span>
            <span class=" badge bg-light text-muted"> <%=infoB[0].section%> </span>
              <span class=" badge bg-light text-muted"><%=infoB[0].name%> (<%=infoB[0].roll%>) </span>
            <span class=" badge bg-primary">Rating (<%=infoB[0].poient%>) </span>
 
         </li>
       
     
    </ul>
    <% }  else {%>
      <%=null %> 
      <% } %>  



      <% if(infoC.length>0) {%> 

        <ul class="list-group mt-2" id="">
          <li class="list-group-item list-group-item-primary">
              <img src="/image/student/<%=infoC[0].avatar%>" height="30px" class=" rounded" width="40px" alt="">
       
              <span class=" badge bg-light text-muted"> <%=infoC[0].class%> </span>
              <span class=" badge bg-light text-muted"> <%=infoC[0].section%> </span>
              <span class=" badge bg-light text-muted"><%=infoC[0].name%> (<%=infoC[0].roll%>) </span>
              <span class=" badge bg-primary">Rating (<%=infoC[0].poient%>) </span>

           </li>
         
       
      </ul>
      <% }  else {%>
        <%=null %> 
        <% } %>  


        </div>
  <!-- end rowDiv -->
  </div> 




 
<hr>
    <div class=" w-50 w- mt-2 m-auto ">
        <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">
    
    </div>



<div class="row">

    <div class="col-10 col-md-6 m-auto" id="list">
   

       

    </div>
    
</div>


  
  <div class="card d-none" aria-hidden="true" id="card">
    <div class="card-body">
    
      <p class="card-text placeholder-glow">
        <span class="placeholder bg-primary col-2"></span>
        <span class="placeholder bg-danger col-1 p-3 rounded-circle"></span>
        <span class="placeholder  col-2"></span>
        <span class="placeholder col-2"></span>
        <span class="placeholder col-2"></span>
        <hr>
      </p>

      <p  class="card-text placeholder-glow">
      <span class="placeholder bg-danger col-2"></span>
      <span class="placeholder col-2"></span>
      <span class="placeholder col-2"></span>
      <span class="placeholder col-2"></span>
      <span class="placeholder col-2"></span>
      </p>
    </div>
  </div>


<script>

$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $(".list-group").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});




function loadData()
{
 let className= `<%=className%>`
    $.ajax({
        method: "post",
        url: "/pu/rank/get",
        data: {className},
        dataType: "JSON",

        beforeSend: function (){

        

        },
        success: function (info) {
         
            $("#list").html(info.html)
        }
    });

}

loadData()

// setInterval(() => {
  


// },5000);







</script>


</body>


</html>