<html lang="en">

<head>
  <title>Result marksheet</title>
  <%- include("../component/metadata.html") %>
      
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"> </script>

</head>

<style>
  .row a {
    text-decoration: none;

  }
  .breakBefore { page-break-before: always; } 
  .breakAfter { page-break-after: always; }
</style>

<body onload="pageLoadingTop()">

  <%- include("../component/user-header-nav.html") %>
    <%- include("../component/offcanvas-nav.html") %>
<hr>
    <center class="mt-5">
        <h6>Student Marksheet</h6>
        <button id="downloadbtn" class="btn btn-link" onclick="htmlPrintPDF('<%=class_name%>', '<%=section_name%>')">Download Marksheet</button>
        <!-- <button class="btn btn-link" onclick="jsPrintPDF()">Download Marksheet</button> -->
    </center>
</div>
</div>


<div id="rootApp">

<div id="markSheetHtml" class="row p-2">

</div>    

</div>

<div id="demoId">
  <% students.forEach((item, index) => { %>
    <input type="hidden" name="suuid" class="getSuuid_<%=index%>" value="<%=item.suuid%>"> <br>
<% }) %>

    
</div>

<%- include("../component/___node.html") %>

<script>

function marksheetHtml(result) {
  let markSheetHtml = `
<div class="app">
   <div class="breakBefore"></div>

    <div class="col-md-6 m-auto col-11">
        <div class="students-card findcard shadowx pt-1 pb-1">
            <div class="d-flex justify-content-start align-content-center align-items-center">
                <img class="rounded-circle border border-1 p-1" height="60px" width="60px" src="/image/student/resized/${result[0].avatar}" alt="">
                <p class="fw-semibold text-muted ps-1">
                    ${result[0].name}
                    <code class="fw-semibold ps-2 text-truncate">
                        [${result[0].class} - ${result[0].section} - ${result[0].roll}]
                    </code>
                </p>
            </div>
        </div>
    </div>
    <div class="table-responsive mb-5">
        <code class="fw-semibold fs-5 ms-5">Rank <code class="rankNumber"></code></code>
        <table class="table table-striped table-bordered p-2 m-2 fw-semibold">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">CI Mark</th>
                    <th scope="col">Fi Mark</th>
                    <th scope="col">Book Mark</th>
                </tr>
            </thead>
            <tbody>
                ${result.map(item => `
                    <tr>
                        <td class="p-2" scope="row">${item.subject_name}</td>
                        <td class="p-2" scope="row">${item.ci_mark}</td>
                        <td class="p-2" scope="row">${item.fi_mark}</td>
                        <td class="p-2" scope="row">${item.book_mark}</td>
                    </tr>
                `).join('')}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="text-align: end;">Total = </td>
                    <td class="p-2" style="font-weight: bold;" scope="row">${result[0].output_mark}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="breakAfter"></div>
</div>

   `;

  $("#markSheetHtml").append(markSheetHtml);
}

function htmlPrintPDF(class_name, section_name){
    const element = document.getElementById('rootApp');
    const stIdentifier = `Marksheet@${class_name}-${section_name}`;
    
    const options = {
        image: { type: 'jpeg', quality: 1 },
        margin: [0, 0, 0, 0],
        filename: `Marksheet@${stIdentifier}.pdf`,
        image: { type: 'jpeg', quality: 0.90 },
        html2canvas: { dpi: 192, scale: 2, letterRendering: true },
        // pagebreak: { 
        //     mode: ['css', 'legacy'], 
        //     before: ['.breakBefore'], 
        //     after: ['.breakAfter'],
        // },
        pagebreak: { mode: 'auto' },
        jsPDF: { unit: 'pt', format: 'a4', orientation: 'portrait' },
        compressPDF: true,
    };
    
    html2pdf().set(options).from(element).save();
}




function markSheetPull() {
    const class_name = "<%= class_name %>";
    const section_name = "<%= section_name %>";
    const students = $('input[name="suuid"]').serializeArray();
    const studentLength= students.length;
    _spin_pull();
 $("#downloadbtn").addClass('disabled');

     students.forEach((item, index) => {
      const suuid=item.value;
      $.ajax({
      method: 'POST',
      url: '/admin/result/marksheet-pull-print',
      data: { class_name, section_name, suuid },
      success: (res) => {
        if (res.status == 200) {
          marksheetHtml(res.msg)
        
        }

        if(studentLength==index+1){
          _spin_pop()
          $("#downloadbtn").removeClass('disabled');
        return
          
        }
      },

      error: (err) => {
        console.error("AJAX error: ", err);
      }
    });
    });

  }
  
markSheetPull();


function jsPrintPDF() {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();

    html2canvas(document.querySelector("#app")).then(function (canvas) {
        const imgData = canvas.toDataURL("image/png");
        const imgWidth = 210;
        const pageHeight = 295;
        const imgHeight = canvas.height * imgWidth / canvas.width;
        let heightLeft = imgHeight;

        doc.addImage(imgData, 'PNG', 0, 0, imgWidth, imgHeight);
        heightLeft -= pageHeight;

        let position = 0;
        while (heightLeft >= 0) {
            position = heightLeft - imgHeight;
            doc.addPage();
            doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
            heightLeft -= pageHeight;
        }

        doc.save("download.pdf");
    }).catch(function (error) {
        console.error("Error generating PDF: ", error);
    });
}

</script>


</body>

</html>