
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teacher</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
    #teacherID a, #teacherID{
        text-decoration: none;
        color:black !important;
    }

    #teacherID .card:hover{
       height: max-content !important;
       
    }


</style>
<body onload="pageLoadingTop()">

<%- include("../component/header-nav.html") %> 
<%- include("../component/menu-nav.html") %> 
<%- include("../component/offcanvas-nav.html") %> 
   

<div class="row mt-5 p-2 shadowx">

  <div class="col-11 m-auto">
    <p class="p-2 shadowx fw-semibold">Our Teachers here</p>
</div>

  <div class="col-11 m-auto">
    <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">
</div>



</div>

      <div id="teacherID" class="row shadowx mt-5 mbx element">

        
        <% if(info.length==0) {%>
          <div class="col-11 m-auto">
              <p class="p-2 fw-semibold shadowx alert">No record</p>
          </div>
          <% } %>

 <% for(let i= 0; i<info.length; i++) {%>

     
    
    <div  class="col-10 col-md-2 mt-2 mt-md-1 m-auto m-md-0 text-center">
      
          <div class="card ">
              <img class="bg-demo-img-color m-auto" width="100px" src="/image/teacher/<%=info[i].avatar%>" alt="">
              <div class="card-body">
                  <h5 class="card-title"><%=info[i].name%> </h5>
                  <h6 class="card-text"><%=info[i].position%></h6> 
                  <h6 class="card-text">Index No: <%=info[i].index_number%></h6>
                  <button data-id="<%=info[i].ID%>" title="information" class="modal-person-trigger btn"><i class="bi bi-info-circle-fill"></i></button>

              </div>
       
          </div>
      </div>

    <% } %>  

        <!-- end div -->
    </div>
    


    <%-include("../component/modal-person.html") %> 


    <%- include("../component/footer-nav.html") %> 

    
<script>
    
$(document).on("click", ".modal-person-trigger", (e)=>{
  let dataID= e.currentTarget.attributes[0].value;
  $.ajax({
  type: "post",
  url: "/pu/info/teacher",
  data: {dataID},
  dataType: "JSON",

  beforeSend: function(){
    $(".modal-person-body").html(`<div class="card" aria-hidden="true">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a class="btn btn-primary disabled placeholder col-6"></a>
  </div>
</div>`)
  
     $(".modal-person-btn").click()
  },

  success: function (info) {
    $(".modal-person-body").html(info.html)
     $(".modal-person-avatar").attr("src", `/image/teacher/${info.avatar}`)
  
     $(".modal-person-btn").click()
  }
});
})





</script>
</body>
</html>