

  <div class="col-11 col-md-8 m-auto m-md-0">

            <div class="card p-2">
              <div class="card-body">
                  <h4 class="card-title">Profile Details</h4>
                  
                  <p class="card-text">You have full control to manage your account setting.</p>
            </div>

              <form id="formFile"  method="post" enctype="multipart/form-data">
                <label>
                  <div>
                    <input type="file" name="avatar" id="file" style="display: none;">
                    <img id="avatar" width="200px" class="rounded bg-demo-img-color" src="/image/teacher/<%=info[0].avatar%>" alt="">
                    <center> <span id="fileEdit" class="btn  "><img width="30px" src="/icon/file/icons8-add-image-48.png" alt=""></span></center>
                  </div>
                </label>
               </form>

               <h4 class="text-dark mt-3"><%-info[0].name %> <img width="30px" src="/icon/toolkit/icons8-verified-account-48.png" alt=""> </h4>
               <p class="text-dark mt-3"><%-info[0].email %> </p>
           <p class="text-muted">PNG or JPG and max file size 2mb.</p>

          </div>
      
      </div>



<hr>
  <form action="/teacher/info/update" method="post">

<div class="row">
 

<center>
  <h4 class="card-title">Personal Details</h4>
  <p class="card-text text-muted">Edit your personal Information and address.</p>
  <p></p>
</center>

      <p></p>



      
  <div class="col-11 col-md-8 d-md-flex m-auto">
  
    <div class="input-group">
      <span class=" input-group-text "><img width="30px" src="/icon/user/icons8-student-male-48.png" alt=""></span>
    <input class="form-self form-control" disabled type="text" value="<%=info[0].name%>" name="name"  id="name" placeholder="Enter Name" required>
</div>

</div>

<p></p>
      
  <div class="col-11 col-md-8 d-md-flex m-auto">
  
    <div class="input-group">
      
      <div>
        <label for="male"> <span class="btn btn-light shadow"><input class="form-check-input " type="radio" id="male" value="Male" <%=info[0].gender=='Male' || info[0].gender=='male' ? 'checked': 'no'%>  name="gender" > Male </span> </label> 
        <label for="female">  <span class="btn btn-light shadow"><input class="form-check-input " type="radio" value="Female" id="female" <%=info[0].gender=='Female' || info[0].gender=='female'? 'checked': 'no'%>  name="gender" > Female </span> </label>
      </div>
</div>

</div>

<p></p>






<div class="col-11 col-md-8 d-md-flex m-auto">

  <div class="input-group">
    <span class=" input-group-text "><img width="30px" src="/icon/user/icons8-praying-man-48.png" alt=""></span>
  <select class="form-self form-select" name="religion" id="">
  
    <option value="Islam">Islam</option>
    <option value="Hinduism">Hinduism</option>
    <option value="Christianity">Christianity</option>
    <option value="Buddhism">Buddhism</option>
<option selected value="<%=info[0].religion%>"><%=info[0].religion%></option>
  </select>
  
  
  </div>
  <p></p>
  
  
  
  <div class="input-group">
  <span class=" input-group-text "><img width="30px" src="/icon/user/icons8-blood-48.png" alt=""></span>
  <select name="bloodGroup" class="form-self form-select" id="">
    <option selected value="<%=info[0].blood_group%>"><%=info[0].blood_group%></option>

    <optgroup label="Positive"> 
      <option selected value="A+ve">A+ve</option>
      <option value="B+ve">B+ve</option>
      <option value="O+ve">O+ve</option>
      <option value="AB+ve">AB+ve</option>

      </optgroup> 
      
      <optgroup label="Negative"> 
      <option selected value="A-ve">A-ve</option>
      <option value="B-ve">B-ve</option>
      <option value="O-ve">O-ve</option>
      <option value="AB-ve">AB-ve</option>

      </optgroup>

 
  </select>
  
  </div>
  
  
  </div>
           


  <p></p>






  <div class="col-11 col-md-8 d-md-flex m-auto">

    <div class="input-group">
      <span class=" input-group-text "><img width="30px" src="/icon/user/icons8-contact-48.png" alt=""></span>
      <input class="form-self form-control " type="tel" value="<%=info[0].telephone%>" name="telephone"  id="" placeholder="Contact No" required>

    
    
    </div>
    <p></p>
    
    
    
    <div class="input-group">
    <span class=" input-group-text "><img width="30px" src="/icon/user/icons8-home-address-48.png" alt=""></span>
    <input type="text"class="form-self form-control " value="<%=info[0].address%> " name="address" id="" placeholder="Address Line" required>

    
    </div>
    
    
    </div>
             

    <p></p>


    <div class="col-11 col-md-8 d-md-flex m-auto">

      <div class="input-group">
        <span class=" input-group-text ">Position</span>
        <input class="form-self form-control " disabled type="tel" value="<%=info[0].position%>" name="position"  id="" placeholder="" required>
  
      
      
      </div>
      <p></p>
      
      
      
      <div class="input-group">
      <span class=" input-group-text ">Group Special</span>
      <input type="text"class="form-self form-control" disabled value="<%=info[0].group_special%> " name="group_special" id="" placeholder="" required>
  
      
      </div>
      
      
      </div>



    <p></p>
  



    
  <div class="col-11 col-md-8 d-md-flex m-auto">

    <div class="input-group">
      <span class=" input-group-text "><img width="30px" src="/icon/user/icons8-id-card-48.png" alt=""></span>
      <input readonly disabled type="text"class="form-self form-control " value="<%=info[0].index_number%>" name="indexNo" id="" placeholder="Enter Index No" required>

    
    
    </div>
    <p></p>
    
    
    
    <div class="input-group">
    <span class=" input-group-text "><img width="30px" src="/icon/user/icons8-id-card-48.png" alt=""></span>
    <input readonly disabled type="number"class="form-self form-control " value="<%=info[0].pds_id%>" name="pdsId" id="" placeholder="Enter Registration No" required>

    
    </div>
    
    
    </div>
             
  


 <p></p>




     
 <div class="col-11 col-md-8 d-md-flex m-auto">

  <div class="input-group">
    <span class=" input-group-text ">Joining Date</span>
    <input readonly disabled type="text"class="form-self form-control " value="<%=info[0].joining_date%>" name="joiningDate" id="" required>

  
  
  </div>
  <p></p>
  
  
  
  <div class="input-group">
  <span class=" input-group-text ">Birth Date</span>
  <input type="date"class="form-self form-control " value="<%=info[0].birth_date%>"  name="birthDate" id=""  required>

  
  </div>
  
  
  </div>
           



  <p></p>


<center>
  <label for="">Education Qualification</label> <p></p>
  <textarea placeholder="plz, add your education qualification." name="educationQualification" id="" cols="30" rows="3"><%=info[0].education_qualification%></textarea>

</center>

<p></p>

    <center>
      <button class=" btn-dev w-50 rounded">Save Change</button>
    </center>
   

</div>
      
<hr>
</form>

<script>
  $('#menuButton').on('click', ()=>{

     
$('#menuButton').html('&#9650;')




})
</script>