<html lang="en">
<head>
  <title>Take Attendance</title>
  <%- include("../component/metadata.html") %>
</head>

<style>
  .row a {
    text-decoration: none;

  }

  .row .card-body {
    background-color: #F5F4F8 !important;

    color: #754FFE;
  }
</style>

<body onload="pageLoadingTop()">

  <%- include("../component/user-header-nav.html") %>
    <%- include("../component/teacher-offcanvas-nav.html") %>

      <div class="p-2 mt-5 row">

        <center class="mt-3">
          <span id="syncTime"></span>
          <h6 >Take Attendance</h6>
        </center>  

        <div class="col-10 col-md-6 mt-2 m-auto">
          <input class=" form-dev p-2 ps-3 border-0" style="background-color: rgba(211, 207, 207, 0.26);" type="search"
            name="" placeholder="Search in page" id="search">

        </div>

        <div class="row p-2">

          <div id="syncSystemApp" class="col-md-8 m-auto col-11">

            <% for( let index=0; index < info.length; index++ ) { %>

              <div class="student-card findcard pt-3 pb-3 shadowx">
                <div class="d-flex  justify-content-start align-content-center align-items-center">
                  <img class="rounded-circle border border-1 p-1" height="60px" width="60px"
                    src="/image/student/<%=info[index].avatar%>" alt="">
                  <p class="fw-semibold text-muted ps-1">
                    <%=info[index].roll%>
                  </p>
                  <p class="fw-semibold text-muted ps-2  text-truncate">
                    <%=info[index].name%>
                  </p>

                </div>

                <div class="d-flex p-1  justify-content-center align-content-center align-items-center">
              
                  <code>Last checkout</code>
                  <code class="checkout_<%=info[index].student_uuid%> ps-1">
                    <span class="spinner-border spinner-border-sm"></span>

                  </code>
                    
                </div>


                <div  class="d-flex  justify-content-center align-content-center align-items-center">
                  <button onclick="att_post_def('<%=info[index].student_uuid%>', '<%=info[index].name%>', '<%=info[index].roll%>', '<%=info[index].avatar%>', 0)"
                    
                    class="0_<%=info[index].student_uuid%> btn btn-light fw-semibold text-danger bi bi-calendar-x border border-3 btn-sm pt-0 pb-0 fw-semibold"> Absent</button>
                 
                    <button onclick="att_post_def('<%=info[index].student_uuid%>', '<%=info[index].name%>', '<%=info[index].roll%>', '<%=info[index].avatar%>', 1)"
                    
                    class="1_<%=info[index].student_uuid%> btn btn-light fw-semibold text-primary bi bi-calendar-check  border border-3 btn-sm pt-0 pb-0 ms-1 fw-semibold"> Present</button>
                </div>

              </div>

              <% } %>


          </div>

          <div id="syncSystem" class="p-2 mt-5 mb-5"></div>

        </div>

 <% for( let index = 0; index < infoS.length; index++ ) { %>
 <input class="student<%=index%>" value="<%=infoS[index].student_uuid%>" type="hidden" name="">
 <% } %>
</body>

<script>



function checkout_class(){
  const class_name = `<%=class_name%>`;
  const section_name = `<%=section_name%>`;
  $.ajax({
    type: "POST",
    url: "/teacher/attn/checkout/pull/",
    data: {class_name, section_name},
    dataType: "JSON",
    success: function (res) {
  
      for (const index in res.info) {
        $(`.${res.info[index].checkout}_${res.info[index].student_uuid}`).addClass('disabled border-light');
      }

    }
  });
}
checkout_class()

function checkout_last_five(student_uuid){
  const class_name = `<%=class_name%>`;
  const section_name = `<%=section_name%>`;
  $.ajax({
    type: "POST",
    url: "/teacher/attn/checkout/pull/last/five",
    data: {class_name, section_name, student_uuid},
    dataType: "JSON",
    success: function (res) {
      var htmldata='';
      for (const index in res.info) {
        htmldata+= `<span class="fw-semibold ${res.info[index].checkout==1? "text-primary bi bi-calendar-check":" text-danger bi bi-calendar-x"} b-1 ms-1 fw-semibold"></span>`

      }
       if(res.info[0]==undefined){
        null
       }
       else $(`.checkout_${res.info[0].student_uuid}`).html(htmldata)

        
    }
  });
}

function checkout_loop_event(){
const getLenStudent= '<%=infoSLen%>'
// setTimeout(() => {

for (let index = 0; index < getLenStudent; index++) {
  const studentid= $('.student'+index).val()
  checkout_last_five(studentid)
}
// }, 3000);


}

checkout_loop_event()

const Today= new Date().toDateString()
$('#syncTime').html(`<code>${Today}</code>`)

  $(document).ready(function () {
    $("#search").keyup(function () {
      var value = $(this).val().toLowerCase();
      $(".student-card").filter(function () {

        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

      });
    });
  });

  const placeHolder = `
    <div class="row p-2" >
    <div class="col-10 col-md-6 mt-2 m-auto" >

    <div class="card" aria-hidden="true">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
  </div>
</div>

</div>
</div>
      `
 
  const elem = document.getElementById('syncSystem');
  var pageNumber = 0;
  function syncStudent() {
    pageNumber++
    const class_name = `<%=class_name%>`;
    const section_name = `<%=section_name%>`;
    const offset = pageNumber;
    $.ajax({
      type: "POST",
      url: "/teacher/attn/post/page/num",
      data: { class_name, section_name, offset },
      dataType: "JSON",
      beforeSend: () => {

        $('#syncSystem').html(placeHolder)
       
      },
      success: function (res) {
        checkout_loop_event()

        if (res.htmldata == 404) {
          $('#syncSystem').html('')
        } else {
          $('#syncSystemApp').append(res.htmldata)
          checkout_class()
        }

      }
    });
  }

  new IntersectionObserver((event) => {

    if (event[0].isIntersecting == true) {

      syncStudent()

    }
    else { }

  }, { threshold: 0.8 }).observe(elem);



function att_post_def(student_uuid, name, roll, avatar, checkout){
    const class_name = `<%=class_name%>`;
    const section_name = `<%=section_name%>`;
    $.ajax({
    type: "POST",
    url: "/teacher/attn/post/",
    data: {class_name, section_name, student_uuid, name, roll, avatar, checkout},
    dataType: "JSON",
    success: function (res) {
      if(res.att==true){
        $(`.0_${student_uuid}`).removeClass('disabled border-light');
        $(`.1_${student_uuid}`).removeClass('disabled border-light');
        $(`.${checkout}_${student_uuid}`).addClass('disabled border-light');
       
      }
    }
  });
}


</script>

</html>