
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <%- include("../component/metadata.html") %> 
  <style>
    /* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}


.user-img {
    display: block;
    margin: 0 auto 1rem;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-group-text {
    background: #eee;
    border: none;
    border-radius: 5px 0 0 5px;
}

.form-control, .form-self {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
}

.btn-self {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-self:hover {
    background: #0056b3;
}

.specialC {
    color: #007bff;
}

.specialC:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .col-lg-3, .col-md-2, .col-sm-1 {
        display: none;
    }

    .col-lg-5, .col-md-8, .col-sm-10 {
        width: 100%;
    }
}

  </style>
</head>

<body onload="pageLoadingTop()">
    <% if(typeof msg !== typeof alifn && msg.length > 0) { %>
        <%- include("../component/toast-ejs") %>
    <% } else { %>
        <%= null %>
    <% } %>

    <% if(step === "step1") { %>
    <!-- section 1 -->
    <div id="section1" class="section-container">
        <div class="row mt-5 mbx p-2 shadowx">
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <form action="/au/forgot/password" method="post" class="form container">
                    <img src="/images/default/user.png" height="70px" alt="User Image" class="user-img">
                    <h1>Forgot Password</h1>
                    <p>Fill the form to reset your password.</p><br><br>
     
                    <div class="input-group mt-3 border border-3">
                        <span class="input-group-text"><img width="30px" src="/icons/icons8-test-account-48.png" alt=""></span>
                        
                        <div class="form-check p-2 ms-3">
                          <input class="form-check-input" type="radio" name="userRole" id="roleTeacher" value="teachers" checked>
                          <label class="form-check-label" for="roleTeacher">Teacher</label>
                        </div>
              
                        <div class="form-check p-2 ms-3">
                          <input class="form-check-input" type="radio" name="userRole" id="roleStudent" value="students">
                          <label class="form-check-label" for="roleStudent">Student</label>
                        </div>
                  
                        <div class="form-check p-2 ms-3">
                          <input class="form-check-input" type="radio" name="userRole" id="roleParent" value="parents">
                          <label class="form-check-label" for="roleParent">Parent</label>
                        </div>
                      </div>
                      
                    <p></p>
                    <div class="input-group">
                        <span class="input-group-text"><img width="30px" src="/icons/user/icons8-mail-48.png" alt=""></span>
                        <input type="text" placeholder="Enter Username" name="username" class="form-self form-control" required>
                    </div>
                    <p></p>
                    <center>
                        <input type="submit" value="Continue" class="btn-self w-50">
                    </center>
                    <p></p>
                    <p>Return to <a href="/au/signin/page" id="signIn_link" class="specialC">Sign in <img width="20px" src="/icons/user/icons8-back-48.png" alt=""></a></p>
                </form>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
        </div>
    </div>
    <% }  else if(step === "step2") { %>
    <!-- section 2 -->
    <div id="section2" class="section-container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <form action="/au/forgot/password/verify" method="post" class="form container">
                    <img src="/images/default/user.png" height="70px" alt="User Image" class="user-img">
                    <h1>Email Sent!</h1>
                    <p>Fill the form to email verification code.</p><br><br>
                    <label for="number">Verification Code</label><br>
                    <input type="number" placeholder="Enter Code" name="verifyCode" class="form-self" required>
                    <p></p>
                    <center>
                        <input type="submit" value="Verify" class="btn-self w-50">
                    </center>
                    <p></p>
                    <p>Return to <a href="/au/signin/page" id="signIn_link" class="specialC">Sign in</a></p>
                </form>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
        </div>
    </div>
    <% }  else if(step === "step3") { %>
    <!-- section 3 -->
    <div id="section3" class="section-container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <form action="/au/forgot/password/reset" method="post" class="form container">
                    <img src="/images/default/user.png" height="70px" alt="User Image" class="user-img">
                    <h1>Setup New Password</h1>
                    <p>Set up a new password and continue.</p><br><br>
                    <div class="input-group">
                        <span class="input-group-text"><img width="30px" src="/icons/icons8-sign-in-form-password-48.png" alt=""></span>
                        <input id="password" type="password" placeholder="********" name="password" value="" class="form-control" required>
                        <span id="eye-hide" class="btn input-group-text"><i class="fa-sharp fa-solid fa-eye-slash"></i></span>
                        <span style="display: none;" id="eye-show" class="btn input-group-text"><i class="fa-sharp fa-solid fa-eye"></i></span>
                    </div>
                    <p></p>
                    <center>
                        <input type="submit" value="Reset" class="btn-self w-50">
                    </center>
                    <p></p>
                    <p>Return to <a href="/au/signin/page" id="signIn_link" class="specialC">Sign in</a></p>
                </form>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
        </div>
    </div>
    <% } else { %>
    <%= null %>
    <% } %>

    <script>
        $('#eye-hide').click(() => {
            $('#password').attr('type', "text");
            $('#eye-hide').css({ 'display': 'none' });
            $('#eye-show').css({ 'display': 'block' });
        });

        $('#eye-show').click(() => {
            $('#password').attr('type', "password");
            $('#eye-hide').css({ 'display': 'block' });
            $('#eye-show').css({ 'display': 'none' });
        });
    </script>

    <%- include("../component/___node.html") %>
</body>
</html>


</html>