
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Info</title>
    <%- include("../component/metadata.html") %> 




</head>

<body onload="pageLoadingTop()">
  <p></p>

<%- include("../component/header-nav.html") %> 
<%- include("../component/menu-nav.html") %> 
<%- include("../component/offcanvas-nav.html") %> 


<div class="row">

        
  <div class="col-6 m-auto">
    <select  name="classBase" id="classBase" class="w-100 form-self">

      <option value="" selected>শ্রেণী নির্বাচন করুন</option>

      <optgroup label="ষষ্ঠ শ্রেণী">
        <option value="Six-A">ষষ্ঠ - ক</option>
        <option value="Six-B">ষষ্ঠ - খ</option>
        <option value="Six-C">ষষ্ঠ - গ</option>
       </optgroup>


                    
       <optgroup label="সপ্তম শ্রেণী">
        <option value="Seven-A">সপ্তম - ক</option>
        <option value="Seven-B">সপ্তম - খ</option>
        <option value="Seven-C">সপ্তম - গ</option>
       </optgroup>
       


       <optgroup label="অষ্টম শ্রেণী">
        <option value="Eight-A">অষ্টম - ক</option>
        <option value="Eight-B">অষ্টম - খ</option>
        <option value="Eight-C">অষ্টম - গ</option>
       </optgroup>

        

                
         <optgroup label="নবম শ্রেণী">
          <option value="Nine-A">নবম - ক</option>
          <option value="Nine-B">নবম - খ</option>
          <option value="Nine-C">নবম - গ</option>
         </optgroup>
   
          <optgroup label="দশম শ্রেণী">
             <option value="Ten-A">দশম - ক</option>
             
             <option value="Ten-B">দশম - খ</option>
             <option value="Ten-C">দশম - গ</option>
            </optgroup>
    

        
     
     </select>
  

  </div>
  </div>

<p></p>
<center>
  <div class=" btn-group">

    <div class=" border-dark border-top border-bottom border-start border-end"> লিখে সার্চ করুন

      <input title="search" class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">
    
    </div> 

    <div class="  border-dark border-top border-bottom border-start border-end "> মাস নির্বাচন করুন
      <input title="search by month" class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="month" name="" placeholder="search..." id="monthWise">
    
    </div>
    
    <div class="  border-dark border-top border-bottom border-start border-end"> দিন নির্বাচন করুন
      <input title="search by day wise" class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="date" name="" placeholder="search..." id="dayWise">
    
    </div>



  </div>
</center>



<%- include("../component/footer-nav.html") %> 

</body>





<% if(info.length>0) {%>

  <div class="row " id="list" >

    <% for( i in info) {%>
      <div class="col-9 col-md-6 m-auto bg-light">
        
        <ul class="list-group mt-2">
          <li class="list-group-item list-group-item-secondary">
              <img src="/image/student/<%=info[i].avatar%>" height="30px" class=" rounded" width="50px" alt="">
        
        
              <span class=" badge bg-light text-dark"><%=info[i].class%> - <%=info[i].section%></span>
              <span class=" badge bg-light text-dark"><%=info[i].name%> (<%=info[i].roll%>)</span>

        <hr>
             
                  <span data-id="" class="badge bg-light <%=info[i].at_status=="Present"?"text-success": "text-danger"  %> ">Status (<%=info[i].at_status%>)</span>
                  <span data-id="" class="badge bg-light text-dark">Day (<%=info[i].day%>)</span>
                  <a href="/privet/attendance/report/history?student_id=<%=info[i].student_id%>&year=<%=info[i].year%>&month=<%=info[i].month%>" class="badge bg-light text-dark">History</a>
                
        
           </li>
         
        
        </ul>
          </div>
          <p></p>
      <% } %>  
  
  </div>

  <% } else {%> 

  <div class="row">
    <div class="col-6 m-auto">
      <legend class=" shadow alert alert-danger">উপস্থিতি পাওয়া যায়নি !</legend>

    </div>
  </div>

    <% } %>  

        


    <%- include("../component/___node.html") %> 

</body>

<script>

$("#dayWise").on("change", (e)=>{

  let date= $("#dayWise").val().toString().replaceAll("-", "/")

  

})



$("#classBase").on("change", ()=>{
    let value= $("#classBase").val().split("-");
    let className= value[0];
    let sectionName= value[1];

    $.ajax({
        type: "post",
        url: "/privet/attendance/report/class/base",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {
            
            $("#list").html(info.list)

        }
    });
})







$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".list-group").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
     });
      });
    });



$("#dayWise").on("change", (e)=>{

let findDate= $("#dayWise").val().toString().replaceAll("-", "/")
let value= $("#classBase").val().split("-");
    let className= value[0];
    let sectionName= value[1];
$.ajax({
   type: "post",
   url: "/privet/attendance/report/day/wise",
   data: {findDate, className, sectionName},
   dataType: "JSON",
   beforeSend: function(){


    },

   success: function (info) {

     $("#list").html(info.list)


   
     }

    });
   });







$("#monthWise").on("change", (e)=>{


let findDate= $("#monthWise").val().toString().replaceAll("-", "/")

let value= $("#classBase").val().split("-");
    let className= value[0];
    let sectionName= value[1];

$.ajax({
 type: "post",
 url: "/privet/attendance/report/month/wise",
 data: {findDate, className, sectionName},
 dataType: "JSON",
 beforeSend: function(){


  },

 success: function (info) {

   $("#list").html(info.list)


 
   }

  });


 });



  
    </script>

</html>