
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIS Report</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
  body {
    overflow-x: hidden;
  }
    thead th, tbody td{
    border: 1px solid black;
    }
    

       /* Designing for scroll-bar */
       ::-webkit-scrollbar {
            width: 5px;
        }
     
        /* Track */
        ::-webkit-scrollbar-track {
            background: gainsboro;
            border-radius: 5px;
        }
     
        /* Handle */
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #432121;

        }
     
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #432121;
}


</style>
<body onload="pageLoadingTop()">
  <%- include("../component/user-header-nav.html") %> 
  <%- include("../component/offcanvas-nav.html") %> 


  <div class="row mt-5 mbx p-2 fw-semibold shadowx">


    <div class="col-11  shadowx m-auto p-2  position-relative">
      <center>
        <h4 class="p-2">PIS RESULT CARD</h4>
      </center>

      <div class="bg-card-color-light text-dark p-2 rounded-top-5 rounded-start-5">
        
      
        <div class="d-flex text-uppercase align-items- justify-content-center">
      
    
          <div class="d-flex flex-fill flex-column align-items-center justify-content-center">
            <img class="avatar-circle p-1" style="width: 100px; height: 100px;" src="/image/student/resized/<%=infoStudent[0].avatar%>" alt="">
            <h6 class="text-uppercase pt-2 text-center"><%=className%> - <%=sectionName%> - <%=infoStudent[0].roll%> <br> <%=infoStudent[0].name%></h6>
          </div>
  
          
        </div>
  
      </div>
  
    </div>
  
  <div style="width: 98% !important; overflow: auto; transform: rotateX(180deg);" class="row mt-2 m-auto" >


    <table style="transform: rotateX(180deg);"  class="table table-hover">

 <thead class="text-center"> 
    <tr>
      <th>Subject</th>
      <% const infoChapter=  ['PI-1','PI-2','PI-3','PI-4','PI-5',
      'PI-6','PI-7','PI-8','PI-9','PI-10','PI-11','PI-12'
   ]%>

   <% for( let index = 0; index <infoChapter.length; index++ ) { %>
                    <th><%=infoChapter[index]%></th>
    
                  
        <% } %>
      

      </tr>
   </thead>

  <tbody class="text-center">

<% for( let i = 0; i < infoSubject.length; i++ ) { %>
 <tr>

<td>
    <b><%=infoSubject[i].subject%></b>
</td>

<% for( let index = 0; index <infoChapter.length; index++ ) { %>
    <td > 
      <b><%=infoChapter[index]%></b> <br>

        <div class="form-check checkout_<%=student_uuid%><%=infoSubject[i].subject_code%><%=infoChapter[index]%> m-0 p-0 form-switch d-flex btn ">
                    
                                     
                    <span class="p-2 fs-5  border-end checked_<%=student_uuid%><%=infoSubject[i].subject_code%><%=infoChapter[index]%>bg-danger">&#9726; <input value="1"   class="form-check-input m-0 p-2" type="radio" name="<%=infoSubject[i].subject%><%=infoChapter[index]%>" id=""> </span>
                    <span class="p-2 fs-5 border-end checked_<%=student_uuid%><%=infoSubject[i].subject_code%><%=infoChapter[index]%>bg-warning">&#9673; <input value="2"  class="form-check-input m-0 p-2" type="radio" name="<%=infoSubject[i].subject%><%=infoChapter[index]%>" id=""> </span>
                    <span class="p-2 fs-5 checked_<%=student_uuid%><%=infoSubject[i].subject_code%><%=infoChapter[index]%>bg-success">&#9650; <input value="3" class="form-check-input m-0 p-2" type="radio" name="<%=infoSubject[i].subject%><%=infoChapter[index]%>" id=""> </span>
       
           
           </div>

        
       </td>
<% } %>

</tr>
<% } %>
</tbody>


  
  </table>



  


  </div>


</div> 
    
<%- include("../component/___node.html") %> 

</body>

<script>

  function student_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
 const student_uuid= '<%=student_uuid%>'
    $.ajax({
        method: "post",
        url: "/privet/pis/report-get-checkout",
        data: {className, sectionName, student_uuid},
        dataType: "JSON",
        success: function (response) {
         
            for (const key in response.info_checkout) {
                $('.checkout_'+response.info_checkout[key].checkout).addClass('disabled').addClass(response.info_checkout[key].bg_color)
                $('.checked_'+response.info_checkout[key].checkout+response.info_checkout[key].bg_color+' input').attr('checked', true).addClass('bg-dark');
            }
        }
    });
    
}

student_checkout_class()
  
</script>


</html>
