
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent settings</title>
    <%- include("../component/metadata.html") %> 

</head>
>



<body onload="pageLoadingTop()">

<%- include("../component/admin-header-nav.html") %> 
<%- include("../component/admin-menu-nav.html") %> 


<div id="main-content" class="p-2 main-content mt-5">


        <div class="col">

            <%-include("../component/modal-trigger.html") %> 
      
    <%- include("../component/modal-person.html") %> 


    
        <p></p>



<div class="row">
    <div class=" col-10 col-md-6 mt-2 m-auto">
        <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="Example: 140044" id="search">
    
</div>


    <div class="row">
        
    <div class="col-10 col-md-6 m-auto">

        <select name="classBase" id="classBase" class="w-100 form-self">
        
            <option value="" selected>শ্রেণী নির্বাচন করুন</option>
    
            <optgroup class="status_Six" label="ষষ্ঠ শ্রেণী">
              <option class="status_Six_A" value="Six-A">ষষ্ঠ - ক</option>
              <option class="status_Six_B" value="Six-B">ষষ্ঠ - খ</option>
              <option class="status_Six_C" value="Six-C">ষষ্ঠ - গ</option>
             </optgroup>
    
    
                          
             <optgroup class="status_Seven" label="সপ্তম শ্রেণী">
              <option class="status_Seven_A" value="Seven-A">সপ্তম - ক</option>
              <option class="status_Seven_B" value="Seven-B">সপ্তম - খ</option>
              <option class="status_Seven_C" value="Seven-C">সপ্তম - গ</option>
             </optgroup>
             
    
    
             <optgroup class="status_Eight" label="অষ্টম শ্রেণী">
              <option class="status_Eight_A" value="Eight-A">অষ্টম - ক</option>
              <option class="status_Eight_B" value="Eight-B">অষ্টম - খ</option>
              <option class="status_Eight_C" value="Eight-C">অষ্টম - গ</option>
             </optgroup>
    
              
    
                      
               <optgroup class="status_Nine" label="নবম শ্রেণী">
                <option class="status_Nine_A" value="Nine-A">নবম - ক</option>
                <option class="status_Nine_B" value="Nine-B">নবম - খ</option>
                <option class="status_Nine_c" value="Nine-C">নবম - গ</option>
               </optgroup>
         
                <optgroup class="status_Ten" label="দশম শ্রেণী">
                   <option class="status_Ten_A" value="Ten-A">দশম - ক</option>
                   
                   <option class="status_Ten_B" value="Ten-B">দশম - খ</option>
                   <option class="status_Ten_C" value="Ten-C">দশম - গ</option>
                  </optgroup>
          
    
              
           
           </select>

    </div>
    </div>
  




<table class="table  table-hover container" id="table" >
    <thead class="" id="thead">
        <tr>
            
            <th class=" text-dark">Name</th>
            <th class=" text-dark">Avatar</th>
            <th class=" text-dark">Child ID</th>

            <th title="Delete">Delete</th>
            <th></th>
        
    
        </tr>
    </thead>
    <tbody>

    </tbody>


</table>



    
    
<%- include("../component/___node.html") %> 


</body>

<script>



$(document).on("click", ".modal-person-trigger", (e)=>{
  let ID= e.currentTarget.attributes[0].value;
  $.ajax({
  type: "post",
  url: "/admin/parent/profile",
  data: {ID},
  dataType: "JSON",
  beforeSend: function(){
    $(".modal-person-body").html(`<div class="card" aria-hidden="true">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a class="btn btn-primary disabled placeholder col-6"></a>
  </div> 
</div>`)
  
     $(".modal-person-btn").click()
  },

  success: function (info) {
    
      $(".modal-person-body").html(info.html)
     $(".modal-person-avatar").attr("src", `/image/parent/resized/${info.avatar}`)
  
     $(".modal-person-btn").click()
  }
});
})


$(document).on("click", ".defDelete", (e)=>{

    let ID= e.currentTarget.attributes[0].value;
    $('.modal-trigger-trigger').click()
$('.modal-trigger-body').text('are you want to delete?').addClass('alert alert-danger fw-bolder')


$(".modal-trigger-ok").click(()=>{

$.ajax({
    method: "post",
    url: "/admin/parent/delete",
    data: {ID},
    dataType: "JSON",
    success: function (info) {


$(".toast-msg").html(info.msg).addClass('alert alert-danger fw-bolder')

$('.toast').addClass('show')

loadDisplay()
    

        
    }
});


})
 
})




$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});


(function(){
  $.ajax({
    type: "get",
    url: "/pu/class/section/rm",
    data: {},
    dataType: "JSON",
    success: function (res) {

     for (let index = 0; index < res.cls.length; index++) {

      $(".status_"+res.cls[index].class).remove()
        
     }

     for (let index = 0; index < res.clss.length; index++) {

        $(".status_"+res.clss[index].class+'_'+res.clss[index].section).remove()
        
     }
    }
  });

  }())



$("#classBase").on("click", ()=>{
    let value= $("#classBase").val().split("-");
    let className= value[0];
    let sectionName= value[1];

    $.ajax({
        type: "post",
        url: "/admin/parent/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {
            
            $("tbody").html(info.listData)

        }
    });
})


function loadDisplay(){
    let value= $("#classBase").val().split("-");
    let className= value[0];
    let sectionName= value[1];

    $.ajax({
        type: "post",
        url: "/admin/parent/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {
            
            $("tbody").html(info.listData)

        }
    });
}

loadDisplay()





</script>

</html>