<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
  <title>School settings</title>
  <%- include("../component/metadata.html") %>


</head>


<body onload="pageLoadingTop()">

  <%- include("../component/admin-header-nav.html") %>
    <%- include("../component/admin-menu-nav.html") %>


      <div id="main-content" class="p-2 main-content mt-5">


        <div class="row m-2 mt-5 shadowx text-center">
          <div class="col-11 m-auto">

            <p class="p-2 text-muted fw-semibold fs-5">Setup main settings</p>

          </div>
        </div>

        <div id="school-settings" class="row  p-2 mt-1">

          <form id="schoolform" action="#" method="post">
            <div class="col-md-10 shadowx  mt-3 bg-gradient- bg-light text- mb-5 col-12 m-auto">


              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">EIIN</p>
                <code class="pe-1">*</code> 
                 <input value="<%=info[0]==undefined?null:info[0].eiin%>" name="eiin" class="w-75 shadowx form-dev form-control-sm" placeholder="enter eiin number"
                  type="number" id="">
              </div>


              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Name</p>
                <code class="pe-1">*</code> 
                  <input value="<%=info[0]==undefined?null:info[0].name%>" required name="name" class="w-75 shadowx form-dev form-control-sm"
                  placeholder="enter school name" type="text" id="">
              </div>


              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Email</p>
                <code class="pe-1">*</code> 
                  <input required value="<%=info[0]==undefined?null:info[0].email%>" name="email" class="w-75 shadowx form-dev form-control-sm"
                  placeholder="enter email address" type="email" id="">
              </div>


              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Phone</p>
                <code class="pe-1">*</code> 
                 <input  maxlength="11" value="<%=info[0]==undefined?null:info[0].phone%>" required name="phone" class="w-75 shadowx form-dev form-control-sm"
                  placeholder="enter phone number" type="tel" id="">
              </div>


              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Facebook</p>
                <code class="pe-1">-</code> 
                  <input value="<%=info[0]==undefined?null:info[0].fb_link%>" name="fb_link" class="w-75 shadowx form-dev form-control-sm" placeholder="enter facebook url"
                  type="text" id="">
              </div>


              <div class="d-flex p-2 justify-content-between align-items-center">
                <p class="w-25  fw-semibold m-auto">Address</p>
                <span class="w-75">

                  <code class="pe-1">*</code> 
                    <textarea required name="address" class="form-dev shadowx" style="width: 100%;"
                    placeholder="tell us your school address" id="" cols="40" rows="5"><%=info[0]==undefined?null:info[0].address%></textarea>

                </span>

              </div>


              <div class="d-flex p-2 justify-content-between align-items-center">
                <p class="w-25  fw-semibold m-auto">Headline</p>
                <span class="w-75">

                  <code class="pe-1">-</code> 
                      <textarea name="headline" class="form-dev shadowx" style="width: 100%;"
                    placeholder="tell us your headline" id="" cols="40" rows="5"><%=info[0]==undefined?null:info[0].headline%></textarea>
                   
                </span>

              </div>



              <div class="d-flex p-2 justify-content-between align-items-center">
                <p class="w-25  fw-semibold m-auto">About</p>
                <span class="w-75">

                  <code class="pe-1">*</code> 
                      <textarea required name="about" class="form-dev shadowx" style="width: 100%;"
                    placeholder="tell us something about your school" id="" cols="40" rows="5"><%=info[0]==undefined?null:info[0].about%></textarea>

                </span>

              </div>


<!-- 
              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Logo</p>
                <code class="pe-1">-</code> 
                      <input data-id="logo" value="<%=info[0]==undefined?null:info[0].logo%>"  name="image" class="w-75 pushImage logo shadowx  form-dev form-control-sm"
                  type="file" id="">
              </div>


              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto"></p>

                <div class="logo_append w-75">
                  <img class="bg-demo-img-color shadowx" src="/image/default/resized/<%=info[0]==undefined?'logo.png':info[0].logo%>" height="100px"
                    width="120px" alt="">

                </div>

              </div> -->




              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto">Main photo (upto 500kb)</p>
                <code class="pe-1">*</code> 
                   <input data-id="main_img" accept="image/png, image/jpeg" value="<%=info[0]==undefined?null:info[0].main_img%>"  name="image" class="w-75 pushImage main_img shadowx form-dev form-control-sm"
                  type="file" id="">
              </div>


              <div class="d-flex  p-2 justify-content-between align-items-center">
                <p class="w-25 fw-semibold m-auto"></p>

                <div class="main_img_append  w-75">
                  <img class="bg-demo-img-color shadowx" src="<%=info[0]==undefined?'/images/demo/i1.png':'/assets/images/school/resized/'+info[0].image%>" height="100px"
                    width="120px" alt="">
                </div>

              </div>




              <div class="d-flex justify-content-end p-2 mt-2 mb-2">
                <button type="submit" class="btn  text-primary submitbtn nav-fill btn-hover shadowx">Build my school</button>
              </div>

            </div>
          </form>

        </div>

      </div>


      </div>


      </div>
        <%-include("../component/___node.html")%>
        <script src="/app/___noviewport.js"></script>

</body>
<script>


  noview.port({
    input_class: 'logo',
    append_class: 'logo_append',
    file_type: 'image',
    max_kb_size: 500,
    multiple: false,
  })

  noview.port({
    input_class: 'main_img',
    append_class: 'main_img_append',
    file_type: 'image',
    max_kb_size: 500,
    multiple: false,
  })


  $("#schoolform").on('submit', (event) => {
    event.preventDefault()
    $.ajax({
      method: "post",
      url: "/admin/setup/school-settings/post",
      data: $("#schoolform").serialize(),
      dataType: "JSON",
      beforeSend: function () {
        $(".submitbtn").addClass("disabled")
        _spin_pull()
      },
      success: function (info) {
        _spin_pop()
        _msg_pull('alert-success', 'Updated...', null)
        $(".submitbtn").removeClass("disabled")


      }
    });

  })


  $(".pushImage").on('change', (event) => {
    const jsform = new FormData();
    const thisIs = event.currentTarget.attributes[0].value;
    jsform.append('image', $('.' + thisIs).get(0).files[0]);
    jsform.append('imgrole', thisIs);

    $.ajax({
      method: "post",
      url: "/admin/setup/school-settings/img/post",
      data: jsform,
      mimeType: "multipart/form-data",
      cache: false,
      processData: false,
      contentType: false,
      dataType: "JSON",

      beforeSend: function () {
        $(".submitbtn").addClass("btn disabled")
        _spin_pull()
      },
      success: function (info) {
        _spin_pop()
        _msg_pull('alert-success', 'Updated...', null)
        $(".submitbtn").removeClass("disabled")


      }
    });

  })




</script>


</html>