<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIC report system</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
    thead th, tbody td{
    border-right: 1px solid black;
    }
</style>
<body onload="pageLoadingTop()">

    <%- include("../component/user-header-nav.html") %> 
    <%- include("../component/offcanvas-nav.html") %>

    <main>
      
        <center class="p-3 mt-5">
          <span class="bg-light badge fs-5 text-dark">
            <%=className%> - <%=sectionName%>
          </span>
        </center>
  
      <div class="row p-2">
        <div class="col-10 col-md-6 mt-2 m-auto">
          <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);" type="search"
            name="" placeholder="search..." id="search">
  
        </div>
        </div>
  
        <script>
  
          $(document).ready(function () {
            $("#search").keyup(function () {
              var value = $(this).val().toLowerCase();
              $(".findcard").filter(function () {
  
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  
              });
            });
          });
        </script>
  
        <div  class="row p-2">
        <div class="d-flex flex-wrap justify-content-center gap-2">
  
          <% for(let index=0; index<infoStudent.length; index++) {%>
  
              <div class="shadowx findcard" style="width: 200px; height: 200px;">
                <a class="text-decoration-none text-dark"
                  href="/privet/pic/report-get/<%=className%>/<%=sectionName%>/<%=infoStudent[index].student_uuid%>">
                <center>
                  <img class="p-2 rounded-circle" style="width: 65%; height: 60%;"
                    src="/image/student/resized/<%=infoStudent[index].avatar%>" alt="">
                  <span class="fw-semibold  text-three-line p-2"> ( <%=infoStudent[index].roll%> ) <br>
                      <%=infoStudent[index].name%></span>
                </center>
                </a>
              </div>
  
  
  
            <% } %>
  
              <!-- end div -->
        </div>
  
    </div>
  </main>

 <%- include("../component/___node.html") %> 

</body>


<script>



</script>


</html>