
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIC Report</title>
    <%- include("../component/metadata.html") %> 

</head>

<style>
  body {
    overflow-x: hidden;
  }
    thead th, tbody td{
    border: 1px solid black;
    }
    

       /* Designing for scroll-bar */
       ::-webkit-scrollbar {
            width: 5px;
        }
     
        /* Track */
        ::-webkit-scrollbar-track {
            background: gainsboro;
            border-radius: 5px;
        }
     
        /* Handle */
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #432121;

        }
     
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #432121;
}</style>
<body onload="pageLoadingTop()">
  <%- include("../component/user-header-nav.html") %> 
  <%- include("../component/offcanvas-nav.html") %> 

<div class="row mt-5 mbx p-2 shadowx">
  <center>
    <h5> PIC Result Card</h5>   <small><%=infoStudent[0].roll%> - <%=infoStudent[0].name%> </small> 

   </center>
   
  <div class="col-10 col-md-6 mt-2 m-auto">
      <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">
  
  </div>
  
  <div style="width: 98% !important; overflow: auto; transform: rotateX(180deg);" class="row m-auto" >


    <table style="transform: rotateX(180deg);"  class="table table-hover">

 <thead class="text-center"> 
    <tr>
      <th>Subject</th>
      <% const infoChapter=  ['PI-1','PI-2','PI-3','PI-4','PI-5',
      'PI-6','PI-7','PI-8','PI-9','PI-10','PI-11','PI-12'
   ]%>

   <% for( let index = 0; index <infoChapter.length; index++ ) { %>
                    <th><%=infoChapter[index]%></th>
    
                  
        <% } %>
      

      </tr>
   </thead>

  <tbody class="text-center">

<% for( let i = 0; i < infoSubject.length; i++ ) { %>
 <tr>

<td>
  <small style="font-size: smaller; font-weight: bold;"><%=infoSubject[i].subject%></small>
</td>

<% for( let index = 0; index <infoChapter.length; index++ ) { %>
    <td > 
       <i><%=infoChapter[index]%></i> <br>

        <div class="form-check checkout_<%=student_id%><%=infoSubject[i].subject_code%><%=infoChapter[index]%> m-0 p-0 form-switch d-flex btn ">
                    
                                     
                    <span class="p-2 fs-5  border-end checked_<%=student_id%><%=infoSubject[i].subject_code%><%=infoChapter[index]%>bg-danger">&#9726; <input value="1"   class="form-check-input m-0 p-2" type="radio" name="<%=infoSubject[i].subject%><%=infoChapter[index]%>" id=""> </span>
                    <span class="p-2 fs-5 border-end checked_<%=student_id%><%=infoSubject[i].subject_code%><%=infoChapter[index]%>bg-warning">&#9673; <input value="2"  class="form-check-input m-0 p-2" type="radio" name="<%=infoSubject[i].subject%><%=infoChapter[index]%>" id=""> </span>
                    <span class="p-2 fs-5 checked_<%=student_id%><%=infoSubject[i].subject_code%><%=infoChapter[index]%>bg-success">&#9650; <input value="3" class="form-check-input m-0 p-2" type="radio" name="<%=infoSubject[i].subject%><%=infoChapter[index]%>" id=""> </span>
       
           
           </div>

        
       </td>
<% } %>

</tr>
<% } %>
</tbody>


  
  </table>


</div> 

</div> 
    
<%- include("../component/___node.html") %> 

</body>

<script>

  $(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("tbody tr").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});

  function student_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
 const student_id= '<%=student_id%>'
    $.ajax({
        method: "post",
        url: "/privet/pic/report-get-checkout",
        data: {className, sectionName, student_id},
        dataType: "JSON",
        success: function (response) {
         
            for (const key in response.info_checkout) {
                $('.checkout_'+response.info_checkout[key].checkout).addClass('disabled').addClass(response.info_checkout[key].bg_color)
                $('.checked_'+response.info_checkout[key].checkout+response.info_checkout[key].bg_color+' input').attr('checked', true).addClass('bg-dark');
            }
        }
    });
    
}

student_checkout_class()
  
</script>


</html>
