
<%-include("../component/header") %> 
<%-include("../component/navbar") %> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIC Mark</title>
    <%-include("../component/appdef") %> 

</head>
<body>
 <p></p>

    <center>
     <h5> PIC Mark</h5>
    </center>


 
   

    <div class="row">

        <%-include("../component/toast_alive") %> 
        <%-include("../teacher/teacher_panel") %> 


        <div class="col"  >

            
    <div class=" w-50 mt-2 m-auto">
        <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="Example: 140044" id="search">
    
    </div>

 
<div class="col-12 col-md-8 m-auto">
    <select name="className" id="className" class="w-100 form-self">

        <option value="" selected>শ্রেণী নির্বাচন করুন</option>

        <optgroup label="ষষ্ঠ শ্রেণী">
          <option value="Six-A">ষষ্ঠ - ক</option>
          <option value="Six-B">ষষ্ঠ - খ</option>
          <option value="Six-C">ষষ্ঠ - গ</option>
         </optgroup>


                      
         <optgroup label="সপ্তম শ্রেণী">
          <option value="Seven-A">সপ্তম - ক</option>
          <option value="Seven-B">সপ্তম - খ</option>
          <option value="Seven-C">সপ্তম - গ</option>
         </optgroup>
         


         <optgroup label="অষ্টম শ্রেণী">
          <option value="Eight-A">অষ্টম - ক</option>
          <option value="Eight-B">অষ্টম - খ</option>
          <option value="Eight-C">অষ্টম - গ</option>
         </optgroup>

          

                  
           <optgroup label="নবম শ্রেণী">
            <option value="Nine-A">নবম - ক</option>
            <option value="Nine-B">নবম - খ</option>
            <option value="Nine-C">নবম - গ</option>
           </optgroup>
     
            <optgroup label="দশম শ্রেণী">
               <option value="Ten-A">দশম - ক</option>
               
               <option value="Ten-B">দশম - খ</option>
               <option value="Ten-C">দশম - গ</option>
              </optgroup>
      

          
       
       </select>
    
    
    
    
    
            <select class="w-25 form-self " name="subjectName" id="subjectName">
    
            </select>  
            
            <select class=" w-25 form-self" name="subjectChapter" id="subjectChapter">
    
                <option value="Chapter-01">Chapter-01</option>
                <option value="Chapter-02">Chapter-02</option>
                <option value="Chapter-03">Chapter-03</option>
                <option value="Chapter-04">Chapter-04</option>
                <option value="Chapter-05">Chapter-05</option>
                <option value="Chapter-06">Chapter-06</option>
                <option value="Chapter-07">Chapter-07</option>
                <option value="Chapter-08">Chapter-08</option>
                <option value="Chapter-09">Chapter-09</option>
                <option value="Chapter-10">Chapter-10</option>
    
            </select>
</div>


       <ul class="list-group" id="listDataId"> 

   
       </ul>


        </div>

    </div>


    
</body>

<script>

    
$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $("ul li").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});


function studentGetData(){
    let ArrayData= $('#className').val().split('-');
    let className=  ArrayData[0];
    let sectionName= ArrayData[1];
    $.ajax({
        method: "post",
        url: "/teacher/pic/student/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {

            $('#listDataId').html(info.listData)
            
        }
    });
}


$('#className').on('click', ()=>{
    let ArrayData= $('#className').val().split('-');
    let className=  ArrayData[0];
    let sectionName= ArrayData[1];
    $.ajax({
        method: "post",
        url: "/teacher/pic/subject/get",
        data: {className, sectionName},
        dataType: "JSON",
        success: function (info) {

            $('#subjectName').html(info.listData)
            studentGetData()
            
        }
    });
})





$(document).on('click', '.picMark', (e)=>{
    
    let btn= e.currentTarget;
    let student_id= e.currentTarget.attributes[0].value;
    let roll= e.currentTarget.attributes[1].value;
    let picType= e.currentTarget.attributes[2].value;
    let picMark= e.currentTarget.attributes[3].value;
    let name= e.currentTarget.attributes[4].value;
    let avatar= e.currentTarget.attributes[5].value;
    let ArrayData= $('#className').val().split('-');
    let className=  ArrayData[0];
    let sectionName= ArrayData[1];
    let subjectName= $('#subjectName').val()
    let subjectChapter= $('#subjectChapter').val()
    $.ajax({
        method: "post",
        url: "/teacher/pic/post",
        data: {student_id, roll, picType, picMark, className, sectionName, subjectName, subjectChapter, name, avatar },
        dataType: "JSON",
        beforeSend: function(){
            $(btn).addClass("disabled")
        },
        success: function (info) {


            $('#msg').text(info.msg).addClass(info.alert)

            toast_alive()

        //     setTimeout(() => {
        //     $(btn).removeClass("disabled")
        // }, 2000);
            
        }
    });


})








</script>


</html>