<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    
    <%- include("../component/metadata.html") %>

    </head>
    <body onload="pageLoadingTop()">

  <%- include("../component/header-nav.html") %>
  <%- include("../component/menu-nav.html") %>

        
    <div class="row container shadow m-auto mt-2 mb-2">
  
        <main class="page-wrapper">
        
          <section class="bg-size-cover bg-position-bottom-center bg-repeat-0" style="background-image: url(assets/img/contacts/bg.svg);">
            <div class="container  pb-lg-4 pb-xl-5">
        
              <div class="row pt-md-2 pt-lg-5 pb-2 pb-md-4">
                <div class="col-xxl-4 col-xl-5 col-lg-6 pt-3 mt-3">
                  <h1 class="h3 mb-2">Want to connect with us?</h1>
                  <h2 class="display-1 text-gradient-primary pb-sm-2 pb-md-3 mb-3">Let's talk!</h2>
                  <div class="nav d-block lead pt-lg-5">
                    <a href="mailto:" class="nav-link  text-decoration-none fw-normal  p-0"> <i class="bi-envelope-fill p-2"></i> 
                  <span class="append-email">mail@example.com</span></a>
                    <div class="text-nav mt-1"><i class="bi bi-telephone-fill p-2"></i><span class="append-phone">+8801XXXXXXXXX</span></div>
                    <div class="mt-1 fs-5"><i class="bi bi-geo-alt-fill p-2">
                      
                    </i>
                       <span class="append-address">Boalmari, Faridpur - Bangladesh</span>
                      </div>
                  </div>
                </div>
                <div class="col-lg-6 offset-xl-1 offset-xxl-2 pt-3 pt-md-4 pt-lg-3 mt-3">
                  <form id="contact-us" class=" was-validated" method="post">
                    <div class="row g-4">
                      <div class="col-sm-6">
                        <label for="fn" class="form-label fs-base">Full name</label>
                        <input placeholder="Mr. bean" type="text" class="form-control form-control-lg" name="fullname" id="fn" required="">
                        <div class="invalid-feedback">Please enter your full name!</div>
                      </div>
                      <div class="col-sm-6">
                        <label for="email" class="form-label fs-base">Email</label>
                        <input name="email" placeholder="Example@mail.com" type="email" class="form-control form-control-lg" id="email" required="">
                        <div class="invalid-feedback">Please enter a valid email address!</div>
                      </div>
                      <div class="col-12 pb-2">
                        <label for="message" class="form-label fs-base">Message</label>
                        <textarea placeholder="what's on your mind." class="form-control form-control-lg" id="message" name="message" rows="3" required=""></textarea>
                        <div class="invalid-feedback">Please enter message!</div>
                      </div>
                      <div class="col-12">
                        <input type="hidden" name="school_email" class="append-email" required>
                        <button type="submit" class="btn btn-lg bg-gradient-success text-light contactus w-100 w-sm-auto">Contact Us</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </main>
        
      </div> 

      <%-include("../component/___node.html")%>
      <%- include("../component/footer-nav.html") %>

</body>

<script>
(function(){
$.ajax({
  method: "get",
  url: "/pu/school/get/",
  data: {},
  dataType: "JSON",
  success: function (res) {

    $(".append-address").text(res.info_school[0].address)
      $(".append-email").text(res.info_school[0].email)
      $(".append-phone").text(res.info_school[0].phone)
      $(".append-email").val(res.info_school[0].email)
      $(".append-fb-link").attr( 'href', `${res.info_school[0].fb_link}`)
  }
});
}())


$("#contact-us").on('submit', (event)=>{
   event.preventDefault();
   
   $.ajax({
      method: "post",
      url: "/pu/contact-us/sent/msg",
      data: $("#contact-us").serialize(),
      dataType: "JSON",
      beforeSend: function(){
     $('.contactus').addClass('disabled')
          _spin_pull()
      },
      success: function (response) {
        $('.contactus').removeClass('disabled')
        _spin_pop()
        _msg_pull('alert-success', response.msg)

      }
    });
  })


</script>

</html>
