<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title> Gallery Image</title>
  
    <%- include("../component/metadata.html") %> 

</head>

<style>
    .findcard:hover{
    transform: scale(1.05);

  }
  .findcard{
    transition: all 500ms;
  }
</style>

<body onload="pageLoadingTop()">
 
    <%- include("../component/header-nav.html") %> 
    <%- include("../component/menu-nav.html") %> 

<div  class="row  p-2 mt-5 mbx" >
    
        <div class="col-11 m-auto">
            <p class="p-2 shadowx fw-semibold">Our photos playlist</p>
        </div>


<% if(info.length>0) {%>

  <div class="d-flex m-1  row-gap-3 column-gap-1 justify-content-center  flex-wrap">

            <% for( let index = 0; index < info.length; index++ ) { %>

              <div  class="flex-fill shadowx findcard p-1 flex-md-grow-0 ms-3 ms-md-0 " >
                <a href="/pu/gallery/image/data/<%=info[index].data_id%>" class="fs-3 p-2  page-link text-center text-three-line bg-light fw-semibold">
                <div style="width: 300px; height: 300px;" class="d-flex justify-content-start flex-column">
                 <img class="h-50 w-100 bg-card-color-light" src="/image/gallery/resized/<%=info[index].item_name%>" alt="">
                <code style="font-size: small;">Open</code>
                 <span class="text-three-line fs-5 pt-2">
                  <%=info[index].item_title%>
 
                 </span>
                </div>
                
              </a>
               </div>    
            <% } %>
         
         
         
           </div>
    <% } else {%>

        <div class="col-11 m-auto">
            <p class="p-2 shadowx fw-semibold alert">No record</p>
        </div>

        <% } %>

    </div>





<%- include("../component/footer-nav.html") %> 
<%- include("../component/___node.html") %> 


</body>
</html>
