
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title> Gallery Video</title>
  
    <%- include("../component/metadata.html") %> 

</head>

<style>
    .findcard:hover{
    transform: scale(1.05);

  }
  .findcard{
    transition: all 500ms;
  }
</style>

<body onload="pageLoadingTop()">
 
    <%- include("../component/header-nav.html") %> 
    <%- include("../component/menu-nav.html") %> 

    <div  class="row p-2 mt-5 mbx" >
    
        <div class="col-11 m-auto">
            <p class="p-2 shadowx fw-semibold">Our videos playlist</p>
        </div>


<% if(info.length>0) {%>


  <div class="col-12 col-md-11 m-auto">
    <div class="d-flex m-1 mb-5 row-gap-3 column-gap-1 justify-content-center  flex-wrap">

      <% for( let index = 0; index < info.length; index++ ) { %>

        <div  class="flex-fill findcard shadowx  p-1 flex-md-grow-0 ms-3 ms-md-0 " >
          <a href="/pu/gallery/video/data/<%=info[index].data_id%>" class="fs-3 p-2 ms-md-0 ms-5  page-link text-center text-three-line bg-light fw-semibold">
          <div style="width: 300px; height: 300px;" class="d-flex justify-content-start flex-column">
           <iframe class='video-scope bg-card-color-light' src="<%=info[index].item_name.replace("watch?v=", "embed/")%>/iframe>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <span class="text-three-line pt-2">
            <%=info[index].item_title%>

           </span>
          </div>
          
        </a>
         </div>    
      <% } %>
   
   
   
     </div>
  </div>

    <% } else {%>

        <div class="col-11 m-auto">
            <p class="p-2 shadowx fw-semibold alert">No record</p>
        </div>

        <% } %>


    </div>


   <%- include("../component/footer-nav.html") %> 
   <%- include("../component/___node.html") %> 

</body>
</html>
