<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Video</title>

<%- include("../component/metadata.html") %>


</head>


<body onload="pageLoadingTop()">
    

          
<%- include("../component/header-nav.html") %>
<%- include("../component/menu-nav.html") %>
  

  
            <div  class="row shadowx mt-5 mbx">
              
              <div class="col-11 m-auto">
                <p class="p-2 fw-semibold shadowx ">Our gallery of <%=info[0].item_title %></p>
            </div>
    
            <% if(info.length==0) {%>
                <div class="col-11 m-auto">
                    <p class="p-2 fw-semibold shadowx alert">No record</p>
                </div>
                <% } %>
  
              <% for( let index = 0; index < info.length; index++ ) { %>
              
                <div class="col-10 col-md-3 m-auto m-md-0 p-2">

                    <div class="card" id="">
                        <iframe class='video-scope card-img-top bg-demo-img-color' src="<%=info[index].item_name.replace("watch?v=", "embed/")%>/iframe>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       
                    </div>
       
                    </div>

              <% } %>
             
              
            </div>

      
      <%- include("../component/footer-nav.html") %>
      

</body>

      

</html>