
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Head of school</title>  
        <%- include("../component/metadata.html") %>
      

    </head>
<body onload="pageLoaded()">

  <%- include("../component/header-nav.html") %>
  <%- include("../component/menu-nav.html") %>

    <div id="headofschool" class="row mt-5 mb-5">
        <h1 class="fw-semibold text-center p-2 mt-3">Head of school</h1>
      <p class="text-center fw-semibold mb-3">Meet our most honorable person's in the school</p>

<% if (info.length>0) { %>
  <% for( let index = 0; index < info.length; index++ ) { %>
 
    <div class="row">
      <div class="col-11 col-md-8  shadowx m-auto p-2 mt-5 position-relative">
    
      <div class="bg-card-color p-3 rounded-top-5 rounded-start-5">
        <div class="d-flex  justify-content-around align-items-center">
          <div class="card-image">
            <img class="avatar-circle" src="/image/headofschool/resized/<%=info[index].image%>" alt="">
            
        </div>
       
        <div class="text-light">
          <h1 id="<%=info[index].position%>" class="name">Our <%=info[index].position%></h1>
          <h5  class="name"><%=info[index].name%></h5>
        </div>
      
        </div>
      </div>
    
      <span class=" position-absolute rounded-top-5 bg-light"
       style="height: 50px; width: 50px;  
       margin-top: -20px; z-index: 1090; right: 0; transform: scale(1.2);"></span>
    
      <div class=" pt-3 p-1 pb-3 rounded-bottom-5 rounded-end-5">
        <h5  class="fw-semibold">Message here</h5>
  
          <div class="card-body text-start p-2">
            <%=info[index].message%>
          </div>
      </div>
    
      </div>
    </div> 
  
   <% } %>


<% } else {%>



  <div class="row">
    <div class="col-11 col-md-8  shadowx m-auto p-2 mt-5 position-relative">
  
    <div class="bg-card-color p-3 rounded-top-5 rounded-start-5">
      <div class="d-flex  justify-content-around align-items-center">
        <div class="card-image">
          <img class="avatar-circle" src="/image/demo/profile1.png" alt="">
          
      </div>
     
      <div class="text-light">
        <h1 id="President" class="name">Our president</h1>
        <h5  class="name">No name</h5>
      </div>
    
      </div>
    </div>
  
    <span class=" position-absolute rounded-top-5 bg-light"
     style="height: 50px; width: 50px;  
     margin-top: -20px; z-index: 1090; right: 0; transform: scale(1.2);"></span>
  
    <div class=" pt-3 p-1 pb-3 rounded-bottom-5 rounded-end-5">
      <h5  class="fw-semibold">Message here</h5>

        <div class="card-body text-start p-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        </div>
    </div>
  
    </div>
  </div> 


  <div class="row">
    <div class="col-11 col-md-8  shadowx m-auto p-2 mt-5 position-relative">
  
    <div class="bg-card-color p-3 rounded-top-5 rounded-start-5">
      <div class="d-flex  justify-content-around align-items-center">
        <div class="card-image">
          <img class="avatar-circle" src="/image/demo/profile2.png" alt="">
          
      </div>
     
      <div class="text-light">
        <h1 id="Secretary" class="name">Our secretary</h1>
        <h5  class="name">No name</h5>
      </div>
    
      </div>
    </div>
  
    <span class=" position-absolute rounded-top-5 bg-light"
     style="height: 50px; width: 50px;  
     margin-top: -20px; z-index: 1090; right: 0; transform: scale(1.2);"></span>
  
    <div class=" pt-3 p-1 pb-3 rounded-bottom-5 rounded-end-5">
      <h5  class="fw-semibold">Message here</h5>

        <div class="card-body text-start p-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        </div>
    </div>
  
    </div>
  </div> 




  <div class="row mt-5 mb-5">
    <div class="col-11 col-md-8  shadowx m-auto p-2 mt-5 position-relative">
  
    <div class="bg-card-color p-3 rounded-top-5 rounded-start-5">
      <div class="d-flex  justify-content-around align-items-center">
        <div class="card-image">
          <img class="avatar-circle" src="/image/demo/profile3.png" alt="">
          
      </div>
     
      <div class="text-light">
        <h1 id="Headmaster" class="name">Our headmaster</h1>
        <h5 class="name">No name here</h5>
      </div>
    
      </div>
    </div>
  
    <span class=" position-absolute rounded-top-5 bg-light"
     style="height: 50px; width: 50px;  
     margin-top: -20px; z-index: 1090; right: 0; transform: scale(1.2);"></span>
  
    <div class=" pt-3 p-1 pb-3 rounded-bottom-5 rounded-end-5">
      <h5  class="fw-semibold">Message here</h5>
        <div class="card-body text-start p-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis debitis cumque temporibus quae et! Qui corporis, corrupti delectus nesciunt voluptas excepturi error optio perspiciatis non tenetur eius eveniet, officia veniam.
        </div>
    </div>
  
    </div>
  </div> 


  <% } %>
</div>

    <%- include("../component/footer-nav.html") %>

</body>

<script>

function pageLoaded(){
   $('.page-loading-top').remove()
  }


  (function(){
$.ajax({
  method: "get",
  url: "/pu/headofschool/get/",
  data: {},
  dataType: "JSON",
  success: function (res) {

      $(".append-logo").attr( 'src', `/image/headofschool/resized/${res.info_school[0].logo}`)
  }
});
}())
  
</script>


</html>
