

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SAANVI</title>
    <%- include("../component/metadata.html") %> 
 <link rel="shortcut icon" href="/image/default/resized/logo.png" type="image/x-icon">
 <script src="/app/skdslider.js"></script>
<link href="/app/skdslider.css" rel="stylesheet">
</head>
<style>
    ::-webkit-scrollbar {
  scroll-behavior:smooth;

}



.page-loading{
  height: max-content;
  width: 200px;
  text-align: center;
  background-color: rgba(237, 198, 7, 0.633);
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  z-index: 1030;
}


</style>
<body onload="pageLoaded()">

<%- include("../component/header-nav.html") %> 
<%- include("../component/menu-nav.html") %> 



<%- include("../component/main-carousel.html") %> 



<%-include("./content_page") %> <p></p>

<%- include("../component/footer-nav.html") %> 

</body>


<script>
  function pageLoaded(){
   $('.page-loading-top').remove()
  }


(function(){
  $.ajax({
    type: "get",
    url: "/pu/school/info/get",
    data: {},
    dataType: "JSON",
    success: function (response) {
      $(".school-name").text(response.info[0].name)
    }
  });
  }())
</script>
</html>