<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice view</title>
    <%- include("../component/metadata.html") %>
    
    </head>
<body onload="pageLoaded()">

  <%- include("../component/header-nav.html") %>
  <%- include("../component/menu-nav.html") %>


    <div id="notice_view" class="row  mt-3 mb-3 p-2">
        <h1 class="fw-semibold text-center p-2 ">Notice Area</h1>
        <p class="text-center mb-3">Read our notice and know more about this information</p>
        
      <% if(info[0].attachment=='demo.pdf') {%>
        <div class="col-12 p-2 mt-2">
          <p class="fw-semibold p-2">
             <code><%=info[0].at_date.toString().substring(0, 25)%></code>
            <br>
            <%=info[0].title%>
           </p> 
          <p class="p-2 shadowx " style="line-height: 1.9;">
            
            <br>
             <%=info[0].description%>
           </div>
      
        <% } else {%>


          <div class="p-2 col-12  mt-md-0 mt-2">
            <p class="fw-semibold p-2">
               <code><%=info[0].at_date.toString().substring(0, 25)%></code>
              <br>
              <%=info[0].title%>
             </p> 
            <p class="p-2 shadowx " style="line-height: 1.9;">
              
              <br>
               <%=info[0].description%>
             </div>

          <% if(info[0].attachment_type=='application/pdf') {%>
            <object
            data="/docs/notice/<%=info[0].attachment%>"
            type="application/pdf"
            width="100%"
            height="600px"
            aria-labelledby="PDF document"
          >
       
          </object>

            <% } else {%>
              <div class="col-md-5 p-1 col-12 p-2">
                <a href="/docs/notice/<%=info[0].attachment%>">
                  <img width="100%" height="300px" class=" p-2 img-thumbnail bg-card-color-light append-image"  src="/docs/notice/<%=info[0].attachment%>" alt="">
                </a>
              </div>
              <% } %>
  
        

          <% } %>

        </div>
      
    

      <%- include("../component/footer-nav.html") %>

</body>



<script>
    function pageLoaded(){
   $('.page-loading-top').remove()
  }
  
 
</script>

</html>