
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Rank </title>
    <%- include("../component/metadata.html") %> 


<body onload="pageLoadingTop()">
    
  <%- include("../component/header-nav.html") %> 
  <%- include("../component/menu-nav.html") %> 
  <%- include("../component/offcanvas-nav.html") %> 


  <div id="classList" class="row p-2 mt-5 mbx shadowx ">

    <div class="col-11 m-auto">
      <p class="p-2 shadowx fw-semibold">Our student rank here</p>
  </div>


    <% if(infoTen.length>0) {%>   
      <div class="col-md-2 col-11 mt-1 m-auto">

        <a class='page-link' href="/pu/rank/page/Ten">
          <div class="card shadowx findcard p-2">
            <img class="bg-card-color-light m-auto" width="100px" src="/assets/images/student/resized/<%=infoTen[0].avatar%>" alt="">
            <div class="card-body text-center ">
              <h6 class="card-text bg-light fw-bold">Class Ten </h6>
    
              <p><strong  class="badge p-1  bg-primary">Rank: 1</strong></p>
                <p><strong  class="badge p-1 " style="background-color: slateblue;">Rating (<%=infoTen[0].poient%>)</strong></p>
                <p class="text-truncate"><strong  class="p-1  bg-light"><%=infoTen[0].name%></strong></p>
                <strong  class="badge p-1  bg-light text-dark btn btn-link ">Show All</strong>
           
            </div>
        </div>
      </a>
      </div> 
    <% }  else {%>
      <%=null %> 
      <% } %>  







<% if(infoNine.length>0) {%>   
  <div class="col-md-2 col-11 mt-1 m-auto">

    <a class='page-link' href="/pu/rank/page/Nine">
      <div class="card shadowx findcard p-2">
        <img class="bg-card-color-light m-auto" width="100px" src="/assets/images/student/resized/<%=infoNine[0].avatar%>" alt="">
        <div class="card-body text-center ">
          <h6 class="card-text bg-light fw-bold">Class Nine </h6>

          <p><strong  class="badge p-1  bg-primary">Rank: 1</strong></p>
            <p><strong  class="badge p-1 " style="background-color: slateblue;">Rating (<%=infoNine[0].poient%>)</strong></p>
            <p class="text-truncate"><strong  class="p-1  bg-light"><%=infoNine[0].name%></strong></p>
            <strong  class="badge p-1  bg-light text-dark btn btn-link ">Show All</strong>
       
        </div>
    </div>
  </a>
  </div> 


    <% }  else {%>
      <%=null %> 
      <% } %>  


  <% if(infoEight.length>0) {%>
    <div class="col-md-2 col-11 mt-1 m-auto">

      <a class='page-link' href="/pu/rank/page/Eight">
        <div class="card shadowx findcard p-2">
          <img class="bg-card-color-light m-auto" width="100px" src="/assets/images/student/resized/<%=infoEight[0].avatar%>" alt="">
          <div class="card-body text-center ">
            <h6 class="card-text bg-light fw-bold">Class Eight </h6>

            <p><strong  class="badge p-1  bg-primary">Rank: 1</strong></p>
              <p><strong  class="badge p-1 " style="background-color: slateblue;">Rating (<%=infoEight[0].poient%>)</strong></p>
              <p class="text-truncate"><strong  class="p-1  bg-light"><%=infoEight[0].name%></strong></p>
              <strong  class="badge p-1  bg-light text-dark btn btn-link ">Show All</strong>
         
          </div>
      </div>
    </a>
    </div> 

    <% }  else {%>
      <%=null %> 
      <% } %>  






      <% if(infoSeven.length>0) {%>   

    <div class="col-md-2 col-11 mt-1 m-auto">

      <a class='page-link' href="/pu/rank/page/Seven">
        <div class="card shadowx findcard p-2">
          <img class="bg-card-color-light m-auto" width="100px" src="/assets/images/student/resized/<%=infoSeven[0].avatar%>" alt="">
          <div class="card-body text-center ">
            <h6 class="card-text bg-light fw-bold">Class Seven </h6>

            <p><strong  class="badge p-1  bg-primary">Rank: 1</strong></p>
              <p><strong  class="badge p-1 " style="background-color: slateblue;">Rating (<%=infoSeven[0].poient%>)</strong></p>
              <p class="text-truncate"><strong  class="p-1  bg-light"><%=infoSeven[0].name%></strong></p>
              <strong  class="badge p-1  bg-light text-dark btn btn-link ">Show All</strong>
         
          </div>
      </div>
    </a>
    </div> 

    <% }  else {%>
      <%=null %> 
      <% } %>  








    
      <% if(infoSix.length>0) {%>   
        <div class="col-md-2 col-11 mt-1 m-auto ">

      <a class='page-link' href="/pu/rank/page/Six">
          <div class="card shadowx findcard p-2">
            <img class="bg-card-color-light m-auto" width="100px" src="/assets/images/student/resized/<%=infoSix[0].avatar%>" alt="">
            <div class="card-body text-center ">
              <h6 class="card-text bg-light fw-bold">Class Six </h6>

              <p><strong  class="badge p-1  bg-primary">Rank: 1</strong></p>
                <p><strong  class="badge p-1 " style="background-color: slateblue;">Rating (<%=infoSix[0].poient%>)</strong></p>
                <p class="text-truncate"><strong  class="p-1  bg-light"><%=infoSix[0].name%></strong></p>
                <strong  class="badge p-1  bg-light text-dark btn btn-link ">Show All</strong>
           
            </div>
        </div>
      </a>

    </div> 
    
    <% }  else {%>
      <%=null %> 
      <% } %>  

    <!-- end rowDiv -->
    </div> 
    
          
          
     




</body>




</body>


</html>