<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Rank </title>
    <%- include("../component/metadata.html") %> 

</head>
<body onload="pageLoadingTop()">

  <%- include("../component/header-nav.html") %> 
  <%- include("../component/menu-nav.html") %> 
  <%- include("../component/offcanvas-nav.html") %> 
 
<div id="" class="row mt-5 p-2">

  <div class="col-12 col-md-8 m-auto" id="">
 
    <center><strong class="badge bg-success">Top Level</strong></center>

    <% if(infoA.length>0) {%>   


      <ul class="list-group shadowx findcard  mt-2 list">
                             
        <li class="list-group-item list-group-item-primary ">
    
          <img src="/image/student/resized/<%=infoA[0].avatar%>" height="30px" class=" rounded" width="40px" alt="">
     
            <span class=" badge bg-light  text-muted"><%=infoA[0].class%> - <%=infoA[0].section%> - <%=infoA[0].roll%> </span>
            <span class=" badge bg-light text-dark"><%=infoA[0].name%></span>
    
            <hr>
    
    <span class=" badge bg-light m-1 text-warning">Behavior (<%=infoA[0].behavior%>)</span>
    <span class=" badge bg-light m-1 text-secondary"> Uniform (<%=infoA[0].uniform%>) </span>
    <span class=" badge bg-light m-1 text-info">Study (<%=infoA[0].study%>) </span>
    <span class=" badge bg-light m-1 text-danger">Absent (<%=infoA[0].absent%>) </span>
    <span class=" badge bg-light m-1 text-success">Present (<%=infoA[0].present%>) </span>
    <span class=" badge bg-light m-1 text-primary">Ratting (<%=infoA[0].poient%>) </span>
    
         </li>
       
     
    </ul>
       
  <% }  else {%>
    <%=null %> 
    <% } %>  


    <% if(infoB.length>0) {%> 

  
      <ul class="list-group shadowx findcard  mt-2 list">
                             
        <li class="list-group-item list-group-item-primary ">
    
          <img src="/image/student/resized/<%=infoB[0].avatar%>" height="30px" class=" rounded" width="40px" alt="">
     
            <span class=" badge bg-light  text-muted"><%=infoB[0].class%> - <%=infoB[0].section%> - <%=infoB[0].roll%> </span>
            <span class=" badge bg-light text-dark"><%=infoB[0].name%></span>
          
            <hr>
    
    
    <span class=" badge bg-light m-1 text-warning">Behavior (<%=infoB[0].behavior%>)</span>
    <span class=" badge bg-light m-1 text-secondary"> Uniform (<%=infoB[0].uniform%>) </span>
    <span class=" badge bg-light m-1 text-info">Study (<%=infoB[0].study%>) </span>
    <span class=" badge bg-light m-1 text-danger">Absent (<%=infoB[0].absent%>) </span>
    <span class=" badge bg-light m-1 text-success">Present (<%=infoB[0].present%>) </span>
    <span class=" badge bg-light m-1 text-primary">Ratting (<%=infoB[0].poient%>) </span>
    
         </li>
       
     
    </ul>


    <% }  else {%>
      <%=null %> 
      <% } %>  



      <% if(infoC.length>0) {%> 

        <ul class="list-group shadowx findcard  mt-2 list">
                             
          <li class="list-group-item list-group-item-primary ">
      
            <img src="/image/student/resized/<%=infoC[0].avatar%>" height="30px" class=" rounded" width="40px" alt="">
       
              <span class=" badge bg-light  text-muted"><%=infoC[0].class%> - <%=infoC[0].section%> - <%=infoC[0].roll%> </span>
              <span class=" badge bg-light text-dark"><%=infoC[0].name%></span>
      
      <hr>
      
      <span class=" badge bg-light m-1 text-warning">Behavior (<%=infoC[0].behavior%>)</span>
      <span class=" badge bg-light m-1 text-secondary"> Uniform (<%=infoC[0].uniform%>) </span>
      <span class=" badge bg-light m-1 text-info">Study (<%=infoC[0].study%>) </span>
      <span class=" badge bg-light m-1 text-danger">Absent (<%=infoC[0].absent%>) </span>
      <span class=" badge bg-light m-1 text-success">Present (<%=infoC[0].present%>) </span>
      <span class=" badge bg-light m-1 text-primary">Ratting (<%=infoC[0].poient%>) </span>
      
           </li>
         
       
      </ul>
      

      <% }  else {%>
        <%=null %> 
        <% } %>  


        </div>
  <!-- end rowDiv -->
  </div> 

<div class="row p-2">
  
  <div class="col-md-8 col-11 m-auto">
    <input class=" form-dev p-2 border-0" style="background-color: rgba(211, 207, 207, 0.26);"  type="search" name="" placeholder="search..." id="search">

</div>

</div>



<div class="row">

    <div  class="col-12 col-md-8 m-auto" id="listdata">
   
                         
<% for( let i = 0; i < info.length; i++ ) { %>
  <ul class="list-group findcard  mt-2 list">
                             
    <li class="list-group-item list-group-item-primary ">

      <span class="badge bg-primary">Rank: <%=parseInt(i)+parseInt(1)%></span>  
      <img src="/image/student/resized/<%=info[i].avatar%>" height="30px" class=" rounded" width="40px" alt="">
 
        <span class=" badge bg-light  text-muted"><%=info[i].class%> - <%=info[i].section%> - <%=info[i].roll%> </span>
        <span class=" badge bg-light text-dark"><%=info[i].name%></span>

<hr>

<span class=" badge bg-light m-1 text-warning">Behavior (<%=infoS[i].behavior%>)</span>
<span class=" badge bg-light m-1 text-secondary"> Uniform (<%=infoS[i].uniform%>) </span>
<span class=" badge bg-light m-1 text-info">Study (<%=infoS[i].study%>) </span>
<span class=" badge bg-light m-1 text-danger">Absent (<%=infoS[i].absent%>) </span>
<span class=" badge bg-light m-1 text-success">Present (<%=infoS[i].present%>) </span>
<span class=" badge bg-light m-1 text-primary">Ratting (<%=info[i].poient%>) </span>

     </li>
   
 
</ul>
   
<% } %>

    </div>
    
      <div id="syncSystem" class="p-2 mt-5 mb-5"></div>

</div>
  

<script>

$(document).ready(function(){
  $("#search").keyup(function() {
    var value = $(this).val().toLowerCase();
    $(".list-group").filter(function() {
       
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
     
    });
  });
});

function getData(){
 const class_name= `<%=class_name%>`
    $.ajax({
        method: "post",
        url: "/pu/rank/student/get",
        data: {class_name},
        dataType: "JSON",
        success: function (info) {
         
            $("#listdata").html(info.htmldata)

        }
    });

}

getData()

const placeHolder = `
    <div class="row p-2" >
    <div class="col-10 col-md-6 mt-2 m-auto" >

    <div class="card" aria-hidden="true">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
  </div>
</div>

</div>
</div>
      `
 
  const elem = document.getElementById('syncSystem');
  var pageNumber = 0;
  function syncStudent() {
    pageNumber++
    const class_name = `<%=class_name%>`;
    const offset = pageNumber;
    $.ajax({
      type: "POST",
      url: "/pu/rank/student/page/num",
      data: { class_name, offset },
      dataType: "JSON",
      beforeSend: () => {

        $('#syncSystem').html(placeHolder)
      },
      success: function (res) {
        
        if (res.data == false) {
          $('#syncSystem').html('')
        } else {
          $('#listdata').append(res.htmldata)

        }

      }
    });
  }

  new IntersectionObserver((event) => {

    if (event[0].isIntersecting == true) {

      syncStudent()

    }
    else { }

  }, { threshold: 0.8 }).observe(elem);


</script>


</body>


</html>