


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Routine</title>
    <%- include("../component/metadata.html") %> 


</head>
<style>



@media only screen and (max-width: 678px){


}


.Container{
			/* height: 150px;
			width: 250px; */
			overflow-y: auto;
			border-radius: 5px;
			margin: 0 auto;
		}
		
		.Content{
			width: 300px;
			color: white;
			text-align: center;
		}
		
		.Flipped, .Flipped .Content{
			transform: rotateX(180deg);
		}
		
		/* Designing for scroll-bar */
		::-webkit-scrollbar {
			width: 5px;
		}
	
		/* Track */
		::-webkit-scrollbar-track {
			background: gainsboro;
			border-radius: 5px;
		}
	
		/* Handle */
		::-webkit-scrollbar-thumb {
			background: rgb(140, 49, 49);
			border-radius: 5px;
		}
	
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #691a1a;
		}

</style>
<body onload="pageLoadingTop()">

  <%- include("../component/header-nav.html") %> 
  <%- include("../component/menu-nav.html") %> 
  <%- include("../component/offcanvas-nav.html") %> 
  


  
<div class="row mt-5 p-2 mbx shadowx">
  
  <div class="col-11 m-auto">
    <p class="p-2 shadowx fw-semibold">Our class routine here</p>
</div>


  <div class="col-10 col-md-6 m-auto">

     <form id="classBaseForm" action="/pu/routine/page/class/base" method="get">
      <select name="classBase" id="classBase" class="w-100 form-self">
        
        <option selected value=""  disabled>শ্রেণী নির্বাচন করুন</option>

          <option  class="status_Six" value="Six">ষষ্ঠ</option>               
          <option class="status_Seven_A" value="Seven">সপ্তম</option>

          <option class="status_Eight" value="Eight">অষ্টম</option>
          
            <option class="status_Nine" value="Nine">নবম</option>

               <option class="status_Ten" value="Ten">দশম</option>
            

       </select>
     </form>

  </div>
  </div>

 
  <div class="row shadowx mbx" id="listDataId">
    <!-- <span onclick="printRoutine()" class="btn  text-primary w-50 float-start">Save Routine</span> -->

   
  <% if(info.length==0) {%>
      <div class="col-11 m-auto">
          <p class="p-2 shadowx fw-semibold alert">No record</p>
      </div>
      <% } %>

    <div class="col-11 m-auto Container Flipped  overflow-scroll d-flex"  id="routineTable" >
      
      

      <ul class="list-group Content" style="width: max-content; display: inline-block">
        <li class="list-group-item text-center text-light shadow bg-secondary">
          ররিবার
        </li>
          
       
      
          <% for(let i=0; i<infoSun.length; i++) {%> 


          <li class="list-group-item border-dark">
           
            <center>

              <span class="badge bg-light text-secondary" style="display: block;"> <%=infoSun[i].class%> - <%=infoSun[i].period_table%>  </span>
           
              <span class="badge bg-light text-danger">  <%=infoSun[i].subject%> - <%=infoSun[i].period_time%>   </span> 
              <br> 
              <span class="badge bg-light text-primary ">
                <img width="50px" height="40px" src="/image/teacher/resized/<%=infoSun[i].teacher_avatar%>" alt="">
                <br> <br>
                <%=infoSun[i].teacher_name%> 
               </span>

            </center>


          </li>
    
            <br>


            
            <% } %> 

         
        </li>
      </ul>
      



      <ul class="list-group Content" style="width: max-content; display: inline-block;" >
        <li class="list-group-item text-center text-light shadow bg-secondary">
          সোমবার
        </li>
          
          <% for(let i=0; i<infoMon.length; i++) {%> 

          <li class="list-group-item border-dark">
           
          <center>

              <span class="badge bg-light text-secondary" style="display: block;"> <%=infoMon[i].class%> - <%=infoMon[i].period_table%>  </span>
           
              <span class="badge bg-light text-danger">  <%=infoMon[i].subject%> - <%=infoMon[i].period_time%>   </span> 
              <br> 
              <span class="badge bg-light text-primary ">
                <img width="50px" height="40px" src="/image/teacher/resized/<%=infoMon[i].teacher_avatar%>" alt="">
                <br> <br>
                <%=infoMon[i].teacher_name%> 
               </span>
               
            </center>

          </li>
       <br>

            <% } %> 



      </ul>



      <ul class="list-group Content" style="width: max-content; display: inline-block;" >
        <li class="list-group-item text-center text-light shadow bg-secondary">
          মঙ্গলবার
        </li>
          
          <% for(let i=0; i<infoTue.length; i++) {%> 

          <li class="list-group-item border-dark">
           
            <center>

              <span class="badge bg-light text-secondary" style="display: block;"> <%=infoTue[i].class%> - <%=infoTue[i].period_table%>  </span>
           
              <span class="badge bg-light text-danger">  <%=infoTue[i].subject%> - <%=infoTue[i].period_time%>   </span> 
              <br> 
              <span class="badge bg-light text-primary ">
                <img width="50px" height="40px" src="/image/teacher/resized/<%=infoTue[i].teacher_avatar%>" alt="">
                <br> <br>
                <%=infoTue[i].teacher_name%> 
               </span>
               
            </center>

          </li>
        <br>


            <% } %> 


        
      </ul>






      <ul class="list-group Content" style="width: max-content; display: inline-block;" >
        <li class="list-group-item text-center text-light shadow bg-secondary">
          বুধবার
        </li>

          <% for(let i=0; i<infoWed.length; i++) {%> 

          <li class="list-group-item border-dark">
           
            <center>

              <span class="badge bg-light text-secondary" style="display: block;"> <%=infoWed[i].class%> - <%=infoWed[i].period_table%>  </span>
           
              <span class="badge bg-light text-danger">  <%=infoWed[i].subject%> - <%=infoWed[i].period_time%>   </span> 
              <br> 
              <span class="badge bg-light text-primary ">
                <img width="50px" height="40px" src="/image/teacher/resized/<%=infoWed[i].teacher_avatar%>" alt="">
                <br> <br>
                <%=infoWed[i].teacher_name%> 
               </span>
               
            </center>
          </li>

       <br>


            <% } %> 
      </ul>






      <ul class="list-group Content" style="width: max-content; display: inline-block;" >
        <li class="list-group-item text-center text-light shadow bg-secondary">
          বৃহস্পতিবার
        </li>
          
          <% for(let i=0; i<infoThu.length; i++) {%> 

          <li class="list-group-item border-dark">
            <center>

              <span class="badge bg-light text-secondary" style="display: block;"> <%=infoThu[i].class%> - <%=infoThu[i].period_table%>  </span>
           
              <span class="badge bg-light text-danger">  <%=infoThu[i].subject%> - <%=infoThu[i].period_time%>   </span> 
              <br> 
              <span class="badge bg-light text-primary ">
                <img width="50px" height="40px" src="/image/teacher/resized/<%=infoThu[i].teacher_avatar%>" alt="">
                <br> <br>
                <%=infoThu[i].teacher_name%> 
               </span>
               
            </center>
          </li>
  <br>


            <% } %> 
      </ul>






      <ul class="list-group Content" style="width: max-content; display: inline-block;" >
        <li class="list-group-item text-center text-light shadow bg-secondary">
          শুক্রবার
        </li>

          <% for(let i=0; i<infoSun.length; i++) {%> 

          <li class="list-group-item border-danger">
           
           
            <strong class=' text-dark bg-light'>বন্ধ &#128274</strong>

            <center>

              <span class="badge bg-light text-secondary" style="display: block;"> </span>
           
              <span class="badge bg-light text-danger">   </span> 
              <br> 
              <span class="badge bg-light text-danger ">
        

               <h1><i style="height: 40px; width: 50px;" class="fas  fa-school-lock"></i> </h1>
               </span>
            </center>
          </li>
      <br>
          

            <% } %> 
      </ul>





      <ul class="list-group Content" style="width: max-content; display: inline-block;" >
        <li class="list-group-item text-center text-light shadow bg-secondary">
          শনিবার
        </li>
          
          <% for(let i=0; i<infoSun.length; i++) {%> 

          <li class="list-group-item border-danger">
           
           
         
            <strong class=' text-dark bg-light'>বন্ধ &#128274</strong>

            <center>

              <span class="badge bg-light text-secondary" style="display: block;"> </span>
           
              <span class="badge bg-light text-danger">   </span> 
              <br> 
              <span class="badge bg-light text-danger ">
        

               <h1><i style="height: 40px; width: 50px;" class="fas  fa-school-lock"></i> </h1>
               </span>
            </center>
          </li>
      <br>

            <% } %> 
      </ul>




    </div>
   
  </div>


  <%- include("../component/footer-nav.html") %> 


<script>



$("#classBase").on("change", ()=>{
  
  $("#classBaseForm").submit()

})


(function(){
  $.ajax({
    type: "get",
    url: "/pu/class/section/rm",
    data: {},
    dataType: "JSON",
    success: function (res) {

     for (let index = 0; index < res.cls.length; index++) {

      $(".status_"+res.cls[index].class).remove()
        
     }
    }
  });

  }())




</script>
<%- include("../component/___node.html") %> 

</body>
</html>