<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Routine</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
  .active-class, .status-class:hover{
    border-bottom: 3px solid rgb(13,110,253);
  }

  .active-section, .status-section:hover{
    border-bottom: 3px solid rgb(13,110,253);
  }
  .active-day:hover, input[name='day_name']:checked{
    border-bottom: 3px solid rgb(13,110,253);
  }

</style>
<body onload="pageLoadingTop()">

  <%- include("../component/header-nav.html") %> 
  <%- include("../component/menu-nav.html") %>   
  
<div class="row mt-5 p-2 mbx shadowx">
  
  <div class="col-11 m-auto">
    <p class="p-2 shadowx fw-semibold">Our class routine here</p>
</div>

<div class="row mt-2 mb-2">
  <div class="col-md-8 m-auto shadowx col-12" style="overflow: auto;">

    <div class="d-flex p-2 m-1  fw-semibold">
      <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="sunday">
        <input onclick="get_day('ররিবার')" id="sunday" checked value="ররিবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
        Sunday
      </label>

      <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="monday">
        <input onclick="get_day('সোমবার')" id="monday"  value="সোমবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
        Monday
      </label>


      <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="tuesday">
        <input onclick="get_day('মঙ্গলবার')"  id="tuesday"  value="মঙ্গলবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
        Tuesday
      </label>

      <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="wednesday">
        <input onclick="get_day('বুধবার')" id="wednesday"  value="বুধবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
        Wednesday
      </label>

      <label class="flex-fill rounded-0 active-day btn link-primary fw-semibold" for="thusday">
        <input onclick="get_day('বৃহস্পতিবার')" id="thusday"  value="বৃহস্পতিবার" type="radio" name="day_name" class="flex-fill p-2 link-primary form-check-input fw-semibold"></input>
        Thusday
      </label>
      
    </div>  


      <div class="d-flex p-2 m-1  fw-semibold">
      <button onclick="get_class('Six')" class="status-class active-class flex-fill btn rounded-0 link-primary fw-semibold">SIX</button>
      <button onclick="get_class('Seven')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">SEVEN</button>
      <button onclick="get_class('Eight')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">Eight</button>
      <button onclick="get_class('Nine')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">Nine</button>
      <button onclick="get_class('Ten')" class="status-class flex-fill btn rounded-0 link-primary fw-semibold">Ten</button>
    </div>  

     

  </div>
  
  <script>
    $('.status-class').on('click', (event)=>{
      $('.status-class').removeClass('active-class')
      $(event.target).addClass('active-class')
    })  
    
    // $('.status-section').on('click', (event)=>{
    //   $('.status-section').removeClass('active-section')
    //   $(event.target).addClass('active-section')
    // })  
    
    // var active_day= $('input[name="day_name"]:checked').val();
    // var active_class= $('.active-class').text();
    // var active_section= $('.active-section').text();

  </script>
</div>


<div  id="norecord">
  
<div id="elementdata" class="d-flex flex-wrap row-gap-3 column-gap-2 justify-content-center">


</div>
</div>


</div>

  <%- include("../component/footer-nav.html") %> 
  <%- include("../component/___node.html") %> 


<script>

    
function get_class(class_name){
  const day_name= $('input[name="day_name"]:checked').val();
$.ajax({
  method: "GET",
  url: "/pu/routine/get/",
  data: {class_name, day_name},
  dataType: "JSON",
  beforeSend: function(){
  _spin_pull();
  },
  success: function (res) {
  _spin_pop()
  if(res.status==true){
    $('#elementdata').html(res.htmldata)
  } else  $('#norecord').html(res.htmldata)
  }
});
}

get_class('Six')

function get_day(day_name){
 const class_name= $('.active-class').text();
 $.ajax({
  method: "GET",
  url: "/pu/routine/get/",
  data: {class_name, day_name},
  dataType: "JSON",
  beforeSend: function(){
  _spin_pull();
  },
  success: function (res) {
  _spin_pop()
  if(res.status==true){
    $('#elementdata').html(res.htmldata)
  } else  $('#norecord').html(res.htmldata)
  }
});
}




(function(){
  $.ajax({
    type: "get",
    url: "/pu/class/section/rm",
    data: {},
    dataType: "JSON",
    success: function (res) {

     for (let index = 0; index < res.cls.length; index++) {

      $(".status_"+res.cls[index].class).remove()
        
     }
    }
  });

  }())




</script>
<%- include("../component/___node.html") %> 

</body>
</html>