
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff page</title>  
        <%- include("../component/metadata.html") %>
      

    </head>
<body onload="pageLoaded()">

  <%- include("../component/header-nav.html") %>
  <%- include("../component/menu-nav.html") %>

    <div id="headofschool" class="row mt-3 mb-5">
        <h1 class="fw-semibold text-center p-2 ">Our staff here</h1>
      <p class="text-center fw-semibold mb-3">Meet our school staff</p>

 <div class="row penboxdata">

    <% if(info.length>0) {%>
        <% for( let index = 0; index < info.length; index++ ) { %>
 
            <div class="col-md-4 mt-2 p-2 col-11  card shadowx">
             
              <center class=" p-2">
                <img style="width: 150px;" class=" shadowx float-start " src="/image/staff/resized/<%=info[index].image%>" alt="">
              </center>
          
              <div class="card-body fw-semibold">
          
                <div class="d-flex text-muted ">
                   <div class="p-1 w-25">Name:</div>
                    <div class="p-1 w-75"><%=info[index].name%></div>
                  </div>
    
                  <div class="d-flex text-muted ">
                    <div class="p-1 w-25">Position:</div>
                     <div class="p-1 w-75"><%=info[index].position%></div>
                   </div>
          
                  <div class="d-flex text-muted ">
                    <div class="p-1 w-25">Gender:</div>
                     <div class="p-1 w-75"><%=info[index].gender%></div>
                   </div>
           
                   <div class="d-flex text-muted ">
                    <div class="p-1 w-25">Index no:</div>
                     <div class="p-1 w-75"><%=info[index].index_number%></div>
                   </div>
    
                   <div class="d-flex text-muted ">
                    <div class="p-1 w-25">Email:</div>
                     <div class="p-1 w-75"><%=info[index].email%></div>
                   </div>
           
    
                   <div class="d-flex text-muted ">
                    <div class="p-1 w-25">Phone:</div>
                     <div class="p-1 w-75"><%=info[index].phone%></div>
                   </div>
    
                   <div class="d-flex text-muted ">
                    <div class="p-1 w-25">Age:</div>
                     <div class="p-1 w-75"><%=info[index].age%></div>
                   </div>
    
                   <div class="d-flex text-muted ">
                    <div class="p-1 w-25">Joining date:</div>
                     <div class="p-1 w-75"><%=info[index].joining_date%></div>
                   </div>
           
           
           
           
    
          </div>
          </div>
          
    
     <% } %>
        <% } else {%> 
            <div class="col-11 m-auto">
                <p class="p-2 fw-semibold shadowx alert">No record</p>
            </div>
            <% } %>

</div>

</div>

        
          
    <%- include("../component/footer-nav.html") %>

</body>

<script>

function pageLoaded(){
   $('.page-loading-top').remove()
  }


  (function(){
$.ajax({
  method: "get",
  url: "/pu/headofschool/get/",
  data: {},
  dataType: "JSON",
  success: function (res) {

      $(".append-logo").attr( 'src', `/image/default/resized/${res.info_school[0].logo}`)
  }
});
}())
  
</script>


</html>
