
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff page</title>  
        <%- include("../component/metadata.html") %>
      

    </head>
<body onload="pageLoaded()">

  <%- include("../component/header-nav.html") %>
  <%- include("../component/menu-nav.html") %>

  <div class="row mt-5 p-2 shadowx">
    <div class="col-11 m-auto">
      <p class="p-2 shadowx fw-semibold">Meet our school staff</p>
  </div>
  
  
  
  </div>
  
  
  
  <div class="d-flex p-2 mt-5 mbx row-gap-5 justify-content-center column-gap-2 flex-wrap ">

    <% if (info.length>0) { %>
     
      <% for( let index = 0; index < info.length; index++ ) { %>
        <div style="width: 250px;" class="flex-fill  p-2 shadowx ">
  
        <div class="bg-card-color-light pt-3 pb-3 rounded-4">
            <div class="card-image m-auto">
                <img  class="avatar-circle" src="/assets/images/staff/resized/<%=info[index].image%>" alt="">
            </div>
        </div>
      
          
        <div class="pb-3">
            <div class="card-body text-center p-2">
             <span class="fs-6 fw-semibold"><%=info[index].name%></span> <br>
             <span class="text-muted fw-semibold"><%=info[index].position%></span> <br>
             <button onclick="get_profile_def('<%=info[index].ID%>')" class="p-2 fw-semibold btn-link btn tap-to-open">Tap to open</button>
            </div>
        </div>
      
        </div>
    <% } %>
  
  <% } else {%>
      <div class="col-11 m-auto">
        <p class="p-2 shadowx fw-semibold">No record here</p>
    <% } %>
  </div>
  
  </div>
  
      <%-include("../component/profile-max-card.html") %> 
      <%- include("../component/footer-nav.html") %> 
      <%- include("../component/___node.html") %> 

</body>

<script>

function pageLoaded(){
   $('.page-loading-top').remove()
  }


  function get_profile_def(dataid){
    $.ajax({
      method: "post",
      url: "/pu/staff/profile/get",
      data: {dataid},
      dataType: "JSON",
      beforeSend: function(){
        _spin_pull()
        $('.tap-to-open').addClass('opacity-25')
      },
      success: function (res) {
        _spin_pop()
        $('.tap-to-open').removeClass('opacity-25')
        $('#profile-max-card-body').html(res.htmldata)
        $('#profile-max-card-trigger').click()
      }
    });
  }
  
</script>


</html>
