
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <%- include("../component/metadata.html") %> 

</head>

<style>
/* Responsive styles */
.card {
  margin: 1rem;
}

.card-body {
  padding: 10px;
}

.text-center {
  text-align: center;
}


@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.333%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

</style>
<body onload="pageLoadingTop()">
<%- include("../component/header-nav.html") %> 
<%- include("../component/menu-nav.html") %> 
<%- include("../component/offcanvas-nav.html") %> 

<div class="status_Six row p-2">
  <div class="col-md-10 col-11 m-auto">
    <div class="status_Six text-center">
      <button id="classSixbtn" class="btn-self mt-3 dropdown-toggle w-50">ষষ্ঠ শ্রেণী ( <i class="fa fa-people-group"></i> <%=info6[0]['COUNT(ID)'] %>)</button>
    </div>
    
    <div id="classSix" class="row  justify-content-center">

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Six&sectionName=A" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (ক)</h4>
              <h5 class="card-text fw-bold">
                <%=info6a[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Six&sectionName=B" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (খ)</h4>
              <h5 class="card-text fw-bold">
                <%=info6b[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Six&sectionName=C" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (গ)</h4>
              <h5 class="card-text fw-bold">
                <%=info6c[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="status_Seven row p-2">
  <div class="col-md-10 col-11 m-auto">
    <div class="status_Seven text-center">
      <button id="classSevenbtn" class="btn-self mt-3 dropdown-toggle w-50">সপ্তম শ্রেণী ( <i class="fa fa-people-group"></i> <%=info7[0]['COUNT(ID)'] %>)</button>
    </div>
    
    <div id="classSeven" class="row justify-content-center">
      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Seven&sectionName=A" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (ক)</h4>
              <h5 class="card-text fw-bold">
                <%=info7a[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Seven&sectionName=B" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (খ)</h4>
              <h5 class="card-text fw-bold">
                <%=info7b[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Seven&sectionName=C" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (গ)</h4>
              <h5 class="card-text fw-bold">
                <%=info7c[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="status_Eight row p-2">
  <div class="col-md-10 col-11 m-auto">
    <div class="status_Eight text-center">
      <button id="classEightbtn" class="btn-self mt-3 dropdown-toggle w-50"> অষ্টম শ্রেণী ( <i class="fa fa-people-group"></i> <%=info8[0]['COUNT(ID)'] %>)</button>
    </div>
    
    <div id="classEight" class="row justify-content-center">

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Eight&sectionName=A" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (ক)</h4>
              <h5 class="card-text fw-bold">
                <%=info8a[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Eight&sectionName=B" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (খ)</h4>
              <h5 class="card-text fw-bold">
                <%=info8b[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Eight&sectionName=C" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (গ)</h5>
              <h5 class="card-text fw-bold">
                <%=info8c[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>




<div class="status_Nine row p-2">
  <div class="col-md-10 col-11 m-auto">
    <div class=" text-center">
      <button id="classNinebtn" class="btn-self mt-3 dropdown-toggle w-50">নবম শ্রেণী (<i class="fa fa-people-group"></i> <%=info9[0]['COUNT(ID)'] %> </i>)</button>
    </div>
    
    <div id="classNine" class="row justify-content-center">

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Nine&sectionName=A" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (ক)</h4>
              <h5 class="card-text fw-bold">
                <%=info9a[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Nine&sectionName=B" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (খ)</h4>
              <h5 class="card-text fw-bold">
                <%=info9b[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Nine&sectionName=C" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (গ)</h4>
              <h5 class="card-text fw-bold">
                <%=info9c[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="status_Ten row p-2">
  <div class="col-md-10 col-11 m-auto">
    <div class=" text-center">
      <button id="classTenbtn" class="btn-self mt-3 dropdown-toggle w-50">দশম শ্রেণী (<i class="fa fa-people-group"></i> <%=info10[0]['COUNT(ID)'] %>)</button>
    </div>
    
    <div id="classTen" class="row justify-content-center">
      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Ten&sectionName=A" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (ক)</h4>
              <h5 class="card-text fw-bold">
                <%=info10a[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Ten&sectionName=B" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (খ)</h4>
              <h5 class="card-text fw-bold">
                <%=info10b[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-md-4 col-sm-6 col-10 mb-3">
        <a href="/pu/all/student?className=Ten&sectionName=C" class="text-decoration-none">
          <div class="card shadow-sm text-center">
            <div class="card-body">
              <h4 class="card-title">শাখা (গ)</h4>
              <h5 class="card-text fw-bold">
                <%=info10c[0]['COUNT(ID)'] %> <i class="fa fa-people-group"></i>
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


</div>
</div>

<%- include("../component/footer-nav.html") %> 

</body>

<script>

(function(){
  $.ajax({
    type: "get",
    url: "/pu/class/section/rm",
    data: {},
    dataType: "JSON",
    success: function (res) {

     for (let index = 0; index < res.cls.length; index++) {

      $(".status_"+res.cls[index].class).remove()
        
     }

     for (let index = 0; index < res.clss.length; index++) {

        $(".status_"+res.clss[index].class+'_'+res.clss[index].section).remove()
        
     }
    }
  });

  }())

    $("#classSixbtn").on("click", ()=>{
        $("#classSix").toggle()
    })


    $("#classSevenbtn").on("click", ()=>{
        $("#classSeven").toggle()
    })

    $("#classEightbtn").on("click", ()=>{
        $("#classEight").toggle()
    })

    $("#classNinebtn").on("click", ()=>{
        $("#classNine").toggle()
    })

    $("#classTenbtn").on("click", ()=>{
        $("#classTen").toggle()
    })
</script>
</html>

