
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIC Report</title>
    <%- include("../component/metadata.html") %> 

</head>
<style>
  table>thead {
    vertical-align:baseline !important;

}

  tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 3 !important;
    text-align: center;
}
</style>
<body onload="pageLoadingTop()" >
  <%- include("../component/user-header-nav.html") %> 
  <%- include("../component/offcanvas-nav.html") %> 

 <p></p>

<div class="row mt-5 p-2 shadowx" id="printResult">
  
  <center>
    <img src="/image/default/resized/logo.png" width="50px" alt=""> <br>
    <b class="school-name"> </b> <br>

    
    <img width="60px" class="bg-demo-img-color" src="/image/student/resized/<%=infoStudent[0].avatar%>" alt="">
    
     <small><%=infoStudent[0].roll%> - <%=infoStudent[0].name%></small>

   </center>
   <hr>
   <% const infoChapterHalf= ['PI-1','PI-2','PI-3','PI-4','PI-5','PI-6']%>
   <% const infoChapterFull= ['PI-7','PI-8','PI-9','PI-10','PI-11','PI-12']%>


   


<div class="row mainApp" style="width: 100%; overflow-x: auto;">


   <div class="col-auto m-auto ">
 <center><caption><b>BI Perfomance</b></caption></center>
   <table class=" table table-sm table-bordered table-hover">
 
       <thead  class=" ">
         
           <% for( let index = 0; index <infoCatagory.length; index++ ) { %>
            <th><small style="font-size: smaller;"><%=infoCatagory[index].catagory_name%></small></th>
 
           <% } %>
 
       </thead>
 
 
 
       <tbody class="">
 
            <tr>
 
           <% for( let index = 0; index <infoCatagory.length; index++ ) { %>
               <td> 
                   <div class="form-check checkout_<%=infoStudent[0].student_uuid%><%=infoCatagory[index].catagory_code%> p-0 m-0 fs-3">
               
                    <i class="bi bi-square"></i>           
                         
                   </div>
           
                   
                  </td>
           <% } %>
  
 </tr>
       </tbody>
 
 
   </table>
 
 
   </div>
</div>
 

<div  class="row">

 
<div class="row mainApp" style="width: 100%; overflow-x: auto;">
 <div class="col-12 m-auto">

 <center><caption><b>Transcript 01</b></caption></center>
   <table class=" table  table-bordered">
  <thead class=""> 
   <tr>
     <th>Subject</th>

  <% for( let index = 0; index <infoChapterHalf.length; index++ ) { %>
                   <th><%=infoChapterHalf[index]%></th>
   
                 
       <% } %>
     

     </tr>
  </thead>

 <tbody class=" tbody_half">

<% for( let i = 0; i < infoSubject.length; i++ ) { %>
<tr>

<td>
  <small style="font-size: smaller; font-weight: bold;"><%=infoSubject[i].subject%></small>
</td>

<% for( let index = 0; index <infoChapterHalf.length; index++ ) { %>
   <td > 

       <div class="form-check checkout_<%=student_uuid%><%=infoSubject[i].subject_code%><%=infoChapterHalf[index]%> fs-3 p-0 m-0">
                   
        <i class="bi bi-square"></i>           
         
      
          
          </div>

       
      </td>
<% } %>

</tr>
<% } %>
</tbody>


 
 </table>



 


 </div>
</div> 

</div> 
   

<div class="row">

<div class="row mainApp" style="width: 100%; overflow-x: auto;">
 <div class="col-12 m-auto ">

   <center><caption><b>Transcript 02</b></caption></center>

   <table class=" table table-bordered">
  <thead class=""> 
   <tr>
     <th>Subject</th>

  <% for( let index = 0; index <infoChapterFull.length; index++ ) { %>
                   <th><%=infoChapterFull[index]%></th>
   
                 
       <% } %>
     

     </tr>
  </thead>

 <tbody class=" tbody_full">

<% for( let i = 0; i < infoSubject.length; i++ ) { %>
<tr>

<td>
  <small style="font-size: smaller; font-weight: bold;"><%=infoSubject[i].subject%></small>
</td>

<% for( let index = 0; index <infoChapterFull.length; index++ ) { %>
   <td > 

       <div class="form-check checkout_<%=student_uuid%><%=infoSubject[i].subject_code%><%=infoChapterFull[index]%> fs-3 p-0 m-0">
                   
        <i class="bi bi-square"></i>           
                     
          
          </div>

       
      </td>
<% } %>

</tr>
<% } %>
</tbody>

 </table>
 </div>
</div> 

</div> 

</div>


<%- include("../component/___node.html") %> 

</body>

<script src= "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"> </script>

<script>



(function(){
  $.ajax({
    type: "get",
    url: "/pu/school/info/get",
    data: {},
    dataType: "JSON",
    success: function (response) {
      $(".school-name").text(response.info[0].name)
    }
  });
  }())

function student_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
 const student_uuid= '<%=student_uuid%>'
    $.ajax({
        method: "post",
        url: "/privet/transcript/report-get-checkout",
        data: {className, sectionName, student_uuid},
        dataType: "JSON",
        success: function (response) {
         
            for (const key in response.info_checkout) {
              $('.checkout_'+response.info_checkout[key].checkout).html(response.info_checkout[key].pi==1?'<i class="bi bi-square-fill"></i>':response.info_checkout[key].pi==2?'<i class="bi bi-circle-fill"></i>':response.info_checkout[key].pi==3?'<i class="bi bi-triangle-fill"></i>':'<i class="bi bi-square"></i>');
            }

        }
    });
    
}

student_checkout_class()
  


function bi_checkout_class() {
 const className= '<%=className%>'
 const sectionName= '<%=sectionName%>'
 const student_uuid= '<%=student_uuid%>'
    $.ajax({
        method: "post",
        url: "/privet/bi/transcript-report-checkout",
        data: {className, sectionName, student_uuid},
        dataType: "JSON",
        success: function (response) {
            for (const key in response.info_checkout) { 

              $('.checkout_'+response.info_checkout[key].checkout).html(response.info_checkout[key].bi_point==1?'<i class="bi bi-square-fill"></i>':response.info_checkout[key].bi_point==2?'<i class="bi bi-circle-fill"></i>':response.info_checkout[key].bi_point==3?'<i class="bi bi-triangle-fill"></i>':'<i class="bi bi-square"></i>');
            }
        }
    });
    
}

bi_checkout_class()

 

</script>


</html>
